{% extends "layouts/_base.html" %}

{% block content %}
<div class="govuk-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <p class="chedd-ref">DRAFT.GB.2024.7006103 - CHEDD</p>
      <span class="govuk-caption-l">Description of the goods</span>
      <h1 class="govuk-heading-l">Commodity</h1>

      <div class="chedd-card">
        {{ govukInput({
          label: { text: "Enter commodity code", classes: "govuk-label--m" },
          id: "commodity-code",
          name: "commodity-code"
        }) }}
        <a href="/CHEDD/07-commodity-add-another" class="govuk-button" data-module="govuk-button">Save and continue</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}
