{% extends "layouts/_base.html" %}

{% block content %}
<div class="govuk-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <p class="chedd-ref">DRAFT.GB.2024.7006103 - CHEDD</p>
      <span class="govuk-caption-l">Documents</span>
      <h1 class="govuk-heading-l">Accompanying documents</h1>

      <p class="govuk-body">Upload any other required documents. This may include:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>a health or phytosanitary certificate and laboratory sample results</li>
        <li>transport documents, such as road consignment notes (CMR), air, sea or rail waybills</li>
        <li>commercial documents, such as bill of lading, invoice and packing list</li>
      </ul>

      <table class="govuk-table">
        <caption class="govuk-table__caption govuk-table__caption--s">Showing 1 additional document</caption>
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th class="govuk-table__header">Document type</th>
            <th class="govuk-table__header">Document reference</th>
            <th class="govuk-table__header">Date of issue</th>
            <th class="govuk-table__header">Attachments</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">Veterinary health certificate</td>
            <td class="govuk-table__cell">12</td>
            <td class="govuk-table__cell">9 September 2024</td>
            <td class="govuk-table__cell"><a class="govuk-link" href="#">file.pdf</a></td>
          </tr>
        </tbody>
      </table>

      <p class="govuk-body"><a href="/CHEDD/12-delete-file" class="govuk-link">Remove attachment</a></p>
      <p class="govuk-body"><a href="#" class="govuk-link">Add a document</a></p>

      <div class="chedd-actions">
        <a href="/CHEDD/05-notification-hub" class="govuk-button govuk-button--secondary" data-module="govuk-button">Save and return to hub</a>
        <a href="/CHEDD/11-accompanying-documents-upload" class="govuk-button" data-module="govuk-button">Save and continue</a>
      </div>
      <p class="govuk-body"><a href="/CHEDD/05-notification-hub" class="govuk-link">Cancel and return to hub</a></p>
    </div>
  </div>
</div>
{% endblock %}
