{% extends "layouts/_base.html" %}

{% block content %}
<div class="govuk-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <p class="chedd-ref">DRAFT.GB.2024.7006103 - CHEDD</p>
      <span class="govuk-caption-l">Documents</span>
      <h1 class="govuk-heading-l">Accompanying documents</h1>

      {{ govukFileUpload({
        id: "file-upload-1",
        name: "file-upload-1",
        label: { text: "Select a file", classes: "govuk-label--m" }
      }) }}

      <h2 class="govuk-heading-m">Your file must be:</h2>
      <ul class="govuk-list govuk-list--bullet">
        <li>smaller than 10MB</li>
        <li>larger than 1KB</li>
        <li>file type must be a DOC, JPEG, PDF, PNG or XLS</li>
        <li>ZIP files are not allowed for security reasons</li>
      </ul>

      <a href="/CHEDD/12-delete-file" class="govuk-button" data-module="govuk-button">Next</a>
      <p class="govuk-body"><a href="/CHEDD/05-notification-hub" class="govuk-link">Cancel</a></p>
    </div>
  </div>
</div>
{% endblock %}
