{% extends "layouts/_base.html" %}

{% block content %}
<div class="govuk-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <p class="chedd-ref">DRAFT.GB.2024.7006103 - CHEDD</p>
      <h1 class="govuk-heading-l">Review your notification</h1>

      <div class="govuk-grid-row govuk-!-margin-bottom-4">
        <div class="govuk-grid-column-one-half"><p class="govuk-body chedd-muted">Last updated 27 September 2024, 15:40<br>by Mark Admin Tester</p></div>
        <div class="govuk-grid-column-one-half"><p class="govuk-body chedd-muted">Not Submitted</p></div>
      </div>

      <dl class="govuk-summary-list govuk-!-margin-bottom-6">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">CHED reference</dt>
          <dd class="govuk-summary-list__value">DRAFT.GB.2024.7016439</dd>
          <dd class="govuk-summary-list__actions"><a class="govuk-link" href="#">Copy<span class="govuk-visually-hidden"> CHED reference</span></a></dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Customs declaration reference</dt>
          <dd class="govuk-summary-list__value">GBCHD2024.7016439</dd>
          <dd class="govuk-summary-list__actions"><a class="govuk-link" href="#">Copy<span class="govuk-visually-hidden"> customs declaration reference</span></a></dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Customs document code</dt>
          <dd class="govuk-summary-list__value">N851</dd>
          <dd class="govuk-summary-list__actions"><a class="govuk-link" href="#">Copy<span class="govuk-visually-hidden"> customs document code</span></a></dd>
        </div>
      </dl>

      {{ govukWarningText({
        text: "You must use the correct reference and code on the customs declaration or your consignment will be delayed.",
        iconFallbackText: "Warning"
      }) }}

      <h2 class="govuk-heading-m">About the consignment</h2>
      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Import type</dt>
          <dd class="govuk-summary-list__value">High risk food of non-animal origin</dd>
          <dd class="govuk-summary-list__actions"><a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> import type</span></a></dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Country of origin</dt>
          <dd class="govuk-summary-list__value">Austria</dd>
          <dd class="govuk-summary-list__actions"></dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Country from where consigned</dt>
          <dd class="govuk-summary-list__value">Austria</dd>
          <dd class="govuk-summary-list__actions"></dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Consignment reference number</dt>
          <dd class="govuk-summary-list__value">No</dd>
          <dd class="govuk-summary-list__actions"><a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> consignment reference number</span></a></dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Main reason for importing the consignment</dt>
          <dd class="govuk-summary-list__value">Free Zone or Free Warehouse</dd>
          <dd class="govuk-summary-list__actions"><a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> main reason for importing the consignment</span></a></dd>
        </div>
      </dl>

      <h2 class="govuk-heading-m">Description of the goods</h2>
      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Commodity code</dt>
          <dd class="govuk-summary-list__value">09081100</dd>
          <dd class="govuk-summary-list__actions"><a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> commodity code</span></a></dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Description</dt>
          <dd class="govuk-summary-list__value">Domestic</dd>
          <dd class="govuk-summary-list__actions"></dd>
        </div>
      </dl>

      <table class="govuk-table govuk-!-margin-bottom-6">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Net weight</th>
            <th scope="col" class="govuk-table__header">Packages</th>
            <th scope="col" class="govuk-table__header">Package type</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">2 kg/units</td>
            <td class="govuk-table__cell">1</td>
            <td class="govuk-table__cell">Bag</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">1 kg/units</td>
            <td class="govuk-table__cell">1</td>
            <td class="govuk-table__cell">Block</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><strong>Subtotal</strong></td>
            <td class="govuk-table__cell">3 kg/units</td>
            <td class="govuk-table__cell">2</td>
          </tr>
        </tbody>
      </table>

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Total net weight</dt>
          <dd class="govuk-summary-list__value">2 kg/units</dd>
          <dd class="govuk-summary-list__actions"></dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Total packages</dt>
          <dd class="govuk-summary-list__value">2</dd>
          <dd class="govuk-summary-list__actions"></dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Total gross weight</dt>
          <dd class="govuk-summary-list__value">3 kg/units</dd>
          <dd class="govuk-summary-list__actions"></dd>
        </div>
      </dl>

      <h2 class="govuk-heading-m">Additional details</h2>
      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Commodity intended for</dt>
          <dd class="govuk-summary-list__value">Feedingstuff</dd>
          <dd class="govuk-summary-list__actions"><a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> commodity intended for</span></a></dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Temperature</dt>
          <dd class="govuk-summary-list__value">Ambient</dd>
          <dd class="govuk-summary-list__actions"></dd>
        </div>
      </dl>

      <h2 class="govuk-heading-m">Documents</h2>
      <dl class="govuk-summary-list govuk-!-margin-bottom-4">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Showing 1 additional document</dt>
          <dd class="govuk-summary-list__value"></dd>
          <dd class="govuk-summary-list__actions"><a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> document</span></a></dd>
        </div>
      </dl>

      <table class="govuk-table govuk-!-margin-bottom-9">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Document type</th>
            <th scope="col" class="govuk-table__header">Document reference</th>
            <th scope="col" class="govuk-table__header">Date of issue</th>
            <th scope="col" class="govuk-table__header">Attachments</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">Phytosanitary certificate</td>
            <td class="govuk-table__cell">PTES55786</td>
            <td class="govuk-table__cell">28 September 2024</td>
            <td class="govuk-table__cell"><a class="govuk-link" href="#">sample.pdf</a></td>
          </tr>
        </tbody>
      </table>

      <h2 class="govuk-heading-m">Traders</h2>
      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Consignor or exporter</dt>
          <dd class="govuk-summary-list__value">Defra Test BIP<br>Animal and Plant Health Agency, Woodham Lane, New Haw, Addlestone, KT15 3NB, United Kingdom of Great Britain and Northern Ireland, 020 8252 7295, DefraTestBIP@anthunt3.33mail.com</dd>
          <dd class="govuk-summary-list__actions"><a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> consignor or exporter</span></a></dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Consignee</dt>
          <dd class="govuk-summary-list__value">XYZ LIMITED<br>55786 Park Close, Austria, 55786, Austria, 07932955786, performerance@ptest.com</dd>
          <dd class="govuk-summary-list__actions"></dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Importer</dt>
          <dd class="govuk-summary-list__value">YUT Limited<br>55786 Park Avenue, Bushey, WD23 2BH, England, 07939955786, ptest@performance.com</dd>
          <dd class="govuk-summary-list__actions"></dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Place of destination</dt>
          <dd class="govuk-summary-list__value">Austria AWED<br>125576 Park Avenue, Austria, 55786, Austria, 07938955786, ptest@performance.com</dd>
          <dd class="govuk-summary-list__actions"></dd>
        </div>
      </dl>

      <h2 class="govuk-heading-m">Transport</h2>
      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Transport to the port of entry</dt>
          <dd class="govuk-summary-list__value"></dd>
          <dd class="govuk-summary-list__actions"><a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> transport to the port of entry</span></a></dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Port of entry</dt>
          <dd class="govuk-summary-list__value">DOVER EAST (SEVINGTON BCP) (GBSEV)</dd>
          <dd class="govuk-summary-list__actions"></dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Means of transport to port of entry</dt>
          <dd class="govuk-summary-list__value">Road vehicle</dd>
          <dd class="govuk-summary-list__actions"></dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Transport identification</dt>
          <dd class="govuk-summary-list__value">AI55786</dd>
          <dd class="govuk-summary-list__actions"></dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Using road trailers or containers?</dt>
          <dd class="govuk-summary-list__value">No</dd>
          <dd class="govuk-summary-list__actions"></dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Transport document reference</dt>
          <dd class="govuk-summary-list__value">Air Waybill</dd>
          <dd class="govuk-summary-list__actions"></dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Estimated arrival date at port of entry</dt>
          <dd class="govuk-summary-list__value">31 December 2024</dd>
          <dd class="govuk-summary-list__actions"></dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Estimated arrival time at port of entry</dt>
          <dd class="govuk-summary-list__value">10:10</dd>
          <dd class="govuk-summary-list__actions"></dd>
        </div>
      </dl>

      <h2 class="govuk-heading-m">Goods movement services</h2>
      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Add a reference number for this consignment</dt>
          <dd class="govuk-summary-list__value">No</dd>
          <dd class="govuk-summary-list__actions"></dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Using the Goods Vehicle Movement Service (GVMS)</dt>
          <dd class="govuk-summary-list__value">Yes</dd>
          <dd class="govuk-summary-list__actions"><a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> GVMS answer</span></a></dd>
        </div>
      </dl>

      <h2 class="govuk-heading-m">Contacts</h2>
      <h3 class="govuk-heading-s govuk-!-margin-bottom-2">Contact details</h3>
      <dl class="govuk-summary-list govuk-!-margin-bottom-6">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Name</dt>
          <dd class="govuk-summary-list__value">John Smith</dd>
          <dd class="govuk-summary-list__actions"><a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> contact details</span></a></dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Email address</dt>
          <dd class="govuk-summary-list__value">johnsmith@companyname.com</dd>
          <dd class="govuk-summary-list__actions"></dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Phone number</dt>
          <dd class="govuk-summary-list__value">07827666172</dd>
          <dd class="govuk-summary-list__actions"></dd>
        </div>
      </dl>

      <h3 class="govuk-heading-s govuk-!-margin-bottom-2">Nominated contacts</h3>
      <table class="govuk-table govuk-!-margin-bottom-6">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Name</th>
            <th scope="col" class="govuk-table__header">Email address</th>
            <th scope="col" class="govuk-table__header">Mobile number</th>
            <th scope="col" class="govuk-table__header"><a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> nominated contacts</span></a></th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">John Smith</td>
            <td class="govuk-table__cell">smith@trader.com</td>
            <td class="govuk-table__cell">074403119813</td>
            <td class="govuk-table__cell"></td>
          </tr>
        </tbody>
      </table>

      <h3 class="govuk-heading-s govuk-!-margin-bottom-2">Contact address for consignment</h3>
      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Contact address</dt>
          <dd class="govuk-summary-list__value">Animal and Plant Health Agency, Woodham Lane, New Haw, Surrey, Addlestone, KT15 3NB</dd>
          <dd class="govuk-summary-list__actions"><a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> contact address for consignment</span></a></dd>
        </div>
      </dl>

      <h2 class="govuk-heading-m">Billing details</h2>
      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Organisation</dt>
          <dd class="govuk-summary-list__value">Plant company</dd>
          <dd class="govuk-summary-list__actions"><a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> organisation</span></a></dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Address</dt>
          <dd class="govuk-summary-list__value">21-23<br>BAKERS LANE<br>STAFFORDSHIRE<br>LICHFIELD<br>WS13 6NF</dd>
          <dd class="govuk-summary-list__actions"></dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Email address</dt>
          <dd class="govuk-summary-list__value">cidesu@mail.com</dd>
          <dd class="govuk-summary-list__actions"></dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Phone number</dt>
          <dd class="govuk-summary-list__value">074403119813</dd>
          <dd class="govuk-summary-list__actions"></dd>
        </div>
      </dl>

      <div class="chedd-actions govuk-!-margin-top-6">
        <a href="/CHEDD/21-declaration" class="govuk-button" data-module="govuk-button">Save and continue</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}
