{#
  Shared "search and select an address" pattern used by the CHED-A consignment
  address screens (place of origin, consignor, consignee, importer).
  Set `addressFieldName` before including, e.g. {% set addressFieldName = "place-of-origin" %}
#}
<div class="govuk-form-group">
  <label class="govuk-label govuk-label--s" for="{{ addressFieldName }}-search">Search</label>
  <div class="govuk-hint">Name, address or country</div>
  <input class="govuk-input govuk-input--width-20" id="{{ addressFieldName }}-search" name="{{ addressFieldName }}-search" type="text">
</div>

<h2 class="govuk-heading-m">Select an address</h2>
<p class="govuk-body-s chedd-muted">Showing 5 out of 40 results</p>

<table class="govuk-table">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="col"></th>
      <th class="govuk-table__header" scope="col">Name</th>
      <th class="govuk-table__header" scope="col">Address</th>
      <th class="govuk-table__header" scope="col">Country</th>
      <th class="govuk-table__header" scope="col"></th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    {% for a in [
      { name: "Danish Meat Export ApS", address: "Vesterbrogade 12, 1620 Copenhagen", country: "Denmark" },
      { name: "Portuguese Livestock Lda", address: "Rua Augusta 250, 1100-053 Lisbon", country: "Portugal" },
      { name: "Romanian Agri Exports SRL", address: "Bulevardul Unirii 22, 03083 Bucharest", country: "Romania" },
      { name: "Slovak Farm Export", address: "Obchodná 2, 811 06 Bratislava", country: "Slovakia" },
      { name: "Finnish Livestock Oy", address: "Mannerheimintie 10, 00100 Helsinki", country: "Finland" }
    ] %}
    <tr class="govuk-table__row">
      <td class="govuk-table__cell"><input class="govuk-radios__input" type="radio" name="{{ addressFieldName }}" id="{{ addressFieldName }}-{{ loop.index }}" value="{{ a.name }}" style="position: static; opacity: 1;"></td>
      <td class="govuk-table__cell">{{ a.name }}</td>
      <td class="govuk-table__cell">{{ a.address }}</td>
      <td class="govuk-table__cell">{{ a.country }}</td>
      <td class="govuk-table__cell"><a class="govuk-link" href="#">View details</a></td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<nav class="govuk-pagination" aria-label="Pagination">
  <ul class="govuk-pagination__list">
    <li class="govuk-pagination__item govuk-pagination__item--current">
      <a class="govuk-link govuk-pagination__link" href="#" aria-label="Page 1" aria-current="page">1</a>
    </li>
    <li class="govuk-pagination__item">
      <a class="govuk-link govuk-pagination__link" href="#" aria-label="Page 2">2</a>
    </li>
    <li class="govuk-pagination__item govuk-pagination__item--ellipses">&ctdot;</li>
    <li class="govuk-pagination__item">
      <a class="govuk-link govuk-pagination__link" href="#" aria-label="Page 8">8</a>
    </li>
  </ul>
  <div class="govuk-pagination__next">
    <a class="govuk-link govuk-pagination__link" href="#">
      <span class="govuk-pagination__link-title">Next</span>
    </a>
  </div>
</nav>
