{# Set quickFillFormId and quickFillFormaction before including. Optional: quickFillText #}
<div class="govuk-!-static-padding-top-6">
  <hr class="govuk-section-break govuk-section-break--visible govuk-section-break--l" aria-hidden="true">
  <p class="govuk-body govuk-!-margin-top-4 govuk-!-margin-bottom-0">
    <button type="submit" form="{{ quickFillFormId }}" formaction="{{ quickFillFormaction }}" formmethod="post" class="govuk-link govuk-link--secondary govuk-!-font-size-14 quick-fill-btn">{% if quickFillText %}{{ quickFillText }}{% else %}Quick fill and continue (internal use){% endif %}</button>
  </p>
</div>
