.search-panel {
    background-color: #f8f8f8;
    padding: 20px;
}

.commodity-selection-breadcrumb {
    font-family: "GDS Transport", arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.14286;
    position: relative;
    padding: 1em;
}

@media (min-width: 40.0625em) {
    .commodity-selection-breadcrumb {
        font-size: 16px;
        line-height: 1.25;
    }
}

.commodity-selection-breadcrumb:after {
    content: "";
    display: block;
    clear: both;
}

.commodity-selection-breadcrumb nav .commodity-list ul {
    position: relative;
    list-style: none;
    padding-left: 42px;
}

.commodity-selection-breadcrumb nav .commodity-list ul li {
    position: relative;
    display: block;
    line-height: 25px;
    margin-bottom: 0;
    word-wrap: break-word;
}

.commodity-selection-breadcrumb nav .commodity-list ul li:before,
.commodity-selection-breadcrumb nav .commodity-list ul li:after {
    content: "";
    position: absolute;
    left: -23px;
}

.commodity-selection-breadcrumb nav .commodity-list ul li:before {
    border-top: 1px solid #000;
    top: 24px;
    width: 21px;
    height: 0;
}

.commodity-selection-breadcrumb nav .commodity-list ul li:after {
    border-left: 1px solid #000;
    height: 100%;
    width: 0;
    top: 2px;
}

.commodity-selection-breadcrumb nav .commodity-list ul li:last-child:after {
    height: 22px;
}

.commodity-selection-breadcrumb nav .commodity-list ul li strong button {
    color: #fff;
    text-decoration: none;
}

.commodity-selection-breadcrumb nav .commodity-list ul li span {
    padding-bottom: 15px;
}

.commodity-tree {
    margin-top: 0;
    margin-bottom: 0;
}

.commodity-description-links-container {
    width: 75%;
    display: inline-block;
}

.commodity-description-links-container .commodity-description-link {
    font-family: "GDS Transport", arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.14286;
    overflow-wrap: break-word;
    white-space: normal;
    text-align: left;
    display: contents;
}

@media (min-width: 40.0625em) {
    .commodity-description-links-container .commodity-description-link {
        font-size: 16px;
        line-height: 1.25;
    }
}

.commodity-code-box {
    display: inline-block;
    margin: 5px 2px;
    padding: 3px 5px 5px;
    font-family: "nta", "Arial", sans-serif;
    font-weight: 700;
    text-transform: lowercase !important;
    text-decoration: none;
    color: #fff;
    background-color: #005ea5;
    width: 30px;
    text-align: center;
    vertical-align: top;
}

.commodity-code-box button {
    font-family: "GDS Transport", arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14286;
}

@media (min-width: 40.0625em) {
    .commodity-code-box button {
        font-size: 16px;
        line-height: 1.25;
    }
}

.box-margin {
    padding-bottom: 0.25em;
    margin-top: 0;
    margin-bottom: 0;
}

.link-button {
    font-family: "GDS Transport", arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    background: none;
    border: 0;
    color: #1d70b8;
    cursor: pointer;
    padding: 0;
    text-decoration: underline;
}

@media (min-width: 40.0625em) {
    .link-button {
        font-size: 19px;
        line-height: 1.31579;
    }
}

.link-button:focus {
    outline: 3px solid transparent;
    color: #0b0c0c;
    background-color: #fd0;
    box-shadow: 0 -2px #fd0, 0 4px #0b0c0c;
    text-decoration: none;
}

.link-button:link {
    color: #1d70b8;
}

.link-button:visited {
    color: #4c2c92;
}

.link-button:hover {
    color: #003078;
}

.link-button:active {
    color: #0b0c0c;
}
