
{% extends "layouts/v2-post-baseline.html" %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}

{% set title = "Additional animal details" %}
{% block pageTitle %}{{ title }} - {{ serviceName }}{% endblock %}

{% block beforeContent %}
  {{ super() }}
  {{ govukBackLink({
    text: "Back",
    href: "/v2-post-baseline/create/animal-identification"
  }) }}
{% endblock %}

{% block content %}

{% if data.errors %}
  {{ govukErrorSummary({
    titleText: "There is a problem",
    errorList: data.errorList
  }) }}
{% endif %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <span class="govuk-caption-l">Description of the goods</span>
    <h1 class="govuk-heading-xl">{{ title }}</h1>

    <form method="post" novalidate>
      {{ govukRadios({
        name: "animalsCertifiedFor",
        idPrefix: "animals-certified-for",
        fieldset: {
          legend: {
            text: "What are the animals certified for?",
            classes: "govuk-fieldset__legend--m"
          }
        },
        hint: {
          text: "You'll find this on the health certificate."
        },
        items: [
          { value: "approved-bodies", text: "Approved bodies" },
          { value: "breeding-production", text: "Breeding and/or production" },
          { value: "slaughter", text: "Slaughter" }
        ],
        value: data.animalsCertifiedFor,
        errorMessage: data.errors and data.errors["animalsCertifiedFor"]
      }) }}

      {{ govukRadios({
        name: "unweanedAnimals",
        idPrefix: "unweaned-animals",
        fieldset: {
          legend: {
            text: "Does the consignment contain any unweaned animals?",
            classes: "govuk-fieldset__legend--m"
          }
        },
        hint: {
          text: "These are animals that are still feeding from their mother."
        },
        items: [
          { value: "yes", text: "Yes" },
          { value: "no", text: "No" }
        ],
        value: data.unweanedAnimals,
        errorMessage: data.errors and data.errors["unweanedAnimals"]
      }) }}

      {{ govukButton({
        text: "Save and continue"
      }) }}

      <p class="govuk-body govuk-!-margin-top-4">
        <a href="/v2-post-baseline/create/additional-animal-details-prefill" class="govuk-link govuk-link--secondary govuk-!-font-size-14">Quick fill and continue (internal use)</a>
      </p>
    </form>

  </div>
</div>

{% endblock %}
