
{% extends "layouts/v2-post-baseline.html" %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}

{% set title = "Enter animal identification details" %}
{% block pageTitle %}{{ title }} - {{ serviceName }}{% endblock %}

{% block beforeContent %}
  {{ super() }}
  {{ govukBackLink({
    text: "Back",
    href: backHref or "/v2-post-baseline/create/commodity-quantities"
  }) }}
{% endblock %}

{% block content %}

{% if data.errors %}
  {{ govukErrorSummary({
    titleText: "There is a problem",
    errorList: data.errorList
  }) }}
{% endif %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <span class="govuk-caption-l">Description of the goods</span>
    <h1 class="govuk-heading-xl">{{ title }}</h1>

    <p class="govuk-body govuk-!-margin-bottom-6">
      You must enter all animal identification details into the notification before arrival at the port of entry.
    </p>

    <h2 class="govuk-heading-m govuk-!-margin-bottom-3">Goods summary</h2>
    <table class="govuk-table govuk-!-margin-bottom-6">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Commodity code</th>
          <th scope="col" class="govuk-table__header">Common name</th>
          <th scope="col" class="govuk-table__header">Description</th>
          <th scope="col" class="govuk-table__header">Species and type</th>
          <th scope="col" class="govuk-table__header">Number of animals</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        {% for block in (identificationBlocks or []) %}
          {% for species in block.speciesRows %}
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">{{ block.commodityCode }}</td>
            <td class="govuk-table__cell">{{ block.commodityLabel }}</td>
            <td class="govuk-table__cell">{{ block.description }}</td>
            <td class="govuk-table__cell">{{ species.speciesAndType }}</td>
            <td class="govuk-table__cell">{{ species.quantity }}</td>
          </tr>
          {% endfor %}
        {% endfor %}
      </tbody>
    </table>

    <form method="post" novalidate>
      {% for block in (identificationBlocks or []) %}
      <div class="govuk-!-margin-top-8 {% if not loop.first %}govuk-!-padding-top-6 govuk-border-top{% endif %}">
        <h2 class="govuk-heading-m govuk-!-margin-bottom-3">{{ block.commodityLabel }}</h2>
        {% for species in block.speciesRows %}
        <h3 class="govuk-heading-s govuk-!-margin-top-4 govuk-!-margin-bottom-2">{{ species.speciesAndType }} identification details</h3>

        <table class="govuk-table govuk-!-margin-bottom-6">
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header">Animal</th>
              <th scope="col" class="govuk-table__header">Ear tag</th>
              <th scope="col" class="govuk-table__header">Passport</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            {% for animal in species.animals %}
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">{{ species.speciesAndType }} {{ animal.index }} of {{ species.quantity }}</td>
              <td class="govuk-table__cell">
                <div class="govuk-form-group govuk-!-margin-bottom-0 {% if data.errors and data.errors[animal.earTagKey] %}govuk-form-group--error{% endif %}">
                  <label class="govuk-label govuk-visually-hidden" for="ear-tag-{{ animal.earTagKey }}">Ear tag for {{ species.speciesAndType }} animal {{ animal.index }}</label>
                  {% if data.errors and data.errors[animal.earTagKey] %}
                    <p class="govuk-error-message" id="ear-tag-{{ animal.earTagKey }}-error"><span class="govuk-visually-hidden">Error:</span> {{ data.errors[animal.earTagKey] }}</p>
                  {% endif %}
                  <input class="govuk-input govuk-input--width-20" id="ear-tag-{{ animal.earTagKey }}" name="{{ animal.earTagKey }}" type="text" value="{{ data[animal.earTagKey] or '' }}" {% if data.errors and data.errors[animal.earTagKey] %}aria-describedby="ear-tag-{{ animal.earTagKey }}-error" aria-invalid="true"{% endif %}>
                </div>
              </td>
              <td class="govuk-table__cell">
                <div class="govuk-form-group govuk-!-margin-bottom-0 {% if data.errors and data.errors[animal.passportKey] %}govuk-form-group--error{% endif %}">
                  <label class="govuk-label govuk-visually-hidden" for="passport-{{ animal.passportKey }}">Passport for {{ species.speciesAndType }} animal {{ animal.index }}</label>
                  {% if data.errors and data.errors[animal.passportKey] %}
                    <p class="govuk-error-message" id="passport-{{ animal.passportKey }}-error"><span class="govuk-visually-hidden">Error:</span> {{ data.errors[animal.passportKey] }}</p>
                  {% endif %}
                  <input class="govuk-input govuk-input--width-20" id="passport-{{ animal.passportKey }}" name="{{ animal.passportKey }}" type="text" value="{{ data[animal.passportKey] or '' }}" {% if data.errors and data.errors[animal.passportKey] %}aria-describedby="passport-{{ animal.passportKey }}-error" aria-invalid="true"{% endif %}>
                </div>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
        {% endfor %}
      </div>
      {% endfor %}

      {{ govukButton({
        text: "Save and continue"
      }) }}
    </form>

    <p class="govuk-body govuk-!-margin-top-4">
      <a href="/v2-post-baseline/create/save-draft?returnTo=animal-identification" class="govuk-link govuk-link--secondary govuk-!-font-size-14">Save to draft</a>
    </p>
    <p class="govuk-body govuk-!-margin-top-2">
      <a href="/v2-post-baseline/create/animal-identification-prefill" class="govuk-link govuk-link--secondary govuk-!-font-size-14">Quick fill and continue (internal use)</a>
    </p>

  </div>
</div>

{% endblock %}
