
{% extends "layouts/v2-post-baseline.html" %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}

{% set title = "Contact address for consignment" %}
{% block pageTitle %}{{ title }} - {{ serviceName }}{% endblock %}

{% block beforeContent %}
  {{ super() }}
  {{ govukBackLink({
    text: "Back",
    href: backHref or "/v2-post-baseline/create/addresses"
  }) }}
{% endblock %}

{% block content %}

{% if data.errors %}
  {{ govukErrorSummary({
    titleText: "There is a problem",
    errorList: data.errorList
  }) }}
{% endif %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <span class="govuk-caption-l">Addresses</span>
    <h1 class="govuk-heading-xl">{{ title }}</h1>

    <p class="govuk-body govuk-!-margin-bottom-4">
      This is the contact address of the person responsible for the consignment from when it enters Great Britain until authorities complete their checks.
    </p>

    <form method="post" novalidate>
      {{ govukRadios({
        name: "contactAddressId",
        idPrefix: "contact-address",
        fieldset: {
          legend: {
            text: "Select an address",
            isPageHeading: false,
            classes: "govuk-fieldset__legend--m"
          },
          hint: {
            html: 'If the address you need is not shown, you can <a href="/v2-post-baseline/create/addresses" class="govuk-link">add or update the consignee or importer on the addresses page</a>, then return here.'
          }
        },
        items: contactAddressItems,
        value: data.contactAddressId or '1',
        errorMessage: data.errors and data.errors.contactAddressId and { text: data.errors.contactAddressId } or null
      }) }}

      {{ govukButton({
        text: "Save and continue"
      }) }}
    </form>

    <p class="govuk-body govuk-!-margin-top-4">
      <a href="/v2-post-baseline/create/contact-address-for-consignment-prefill" class="govuk-link govuk-link--secondary govuk-!-font-size-14">Quick fill and continue (internal use)</a>
    </p>

  </div>
</div>

{% endblock %}
