
{% extends "layouts/v1-experimental-forms.html" %}
{% set title = "Add consignee address" %}
{% set backLinkHref = (basePath or '/v1-experimental') + '/create/addresses' %}

{% block formContent %}

{% from "includes/page-header.njk" import pageHeader %}
{% call pageHeader(title, null, "two-thirds") %}
    <p class="govuk-body">
      The consignee is the receiver or buyer of the consignment. Enter their UK address below.
    </p>

    <form method="post" novalidate>
      {{ govukInput({
        label: {
          text: "Name or organisation"
        },
        id: "consigneeName",
        name: "consigneeName",
        value: data.consigneeName,
        autocomplete: "name",
        errorMessage: data.errors and data.errors.consigneeName and { text: data.errors.consigneeName } or null
      }) }}

      {{ govukInput({
        label: {
          text: "Address line 1"
        },
        id: "consigneeAddressLine1",
        name: "consigneeAddressLine1",
        value: data.consigneeAddressLine1,
        autocomplete: "address-line1",
        errorMessage: data.errors and data.errors.consigneeAddressLine1 and { text: data.errors.consigneeAddressLine1 } or null
      }) }}

      {{ govukInput({
        label: {
          text: "Address line 2 (optional)"
        },
        id: "consigneeAddressLine2",
        name: "consigneeAddressLine2",
        value: data.consigneeAddressLine2,
        autocomplete: "address-line2"
      }) }}

      {{ govukInput({
        label: {
          text: "Town or city"
        },
        id: "consigneeTown",
        name: "consigneeTown",
        value: data.consigneeTown,
        autocomplete: "address-level2",
        errorMessage: data.errors and data.errors.consigneeTown and { text: data.errors.consigneeTown } or null
      }) }}

      {{ govukInput({
        label: {
          text: "Postcode"
        },
        id: "consigneePostcode",
        name: "consigneePostcode",
        value: data.consigneePostcode,
        classes: "govuk-input--width-10",
        autocomplete: "postal-code",
        errorMessage: data.errors and data.errors.consigneePostcode and { text: data.errors.consigneePostcode } or null
      }) }}

      {% include "includes/save-continue-and-task-list.njk" %}
    </form>
{% endcall %}

{% endblock %}
