
{% extends "layouts/v1-experimental-forms.html" %}
{% set title = "Enter animal identification details" %}
{% set backLinkHref = backHref or (basePath or '/v1-experimental') + "/create/commodity-quantities" %}

{% block formContent %}

{% from "includes/page-header.njk" import pageHeader %}
{% call pageHeader(title, null, "full") %}
    <p class="govuk-body govuk-!-margin-bottom-6">
      You must enter all animal identification details into the notification before arrival at the port of entry.
    </p>

    <h2 class="govuk-heading-m govuk-!-margin-bottom-3">Goods summary</h2>
    <table class="govuk-table govuk-!-margin-bottom-6 goods-summary-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Commodity code</th>
          <th scope="col" class="govuk-table__header">Common name</th>
          <th scope="col" class="govuk-table__header">Classification</th>
          <th scope="col" class="govuk-table__header">Species</th>
          {% if showActionsColumn %}
          <th scope="col" class="govuk-table__header govuk-table__header--numeric goods-summary-table__actions-header">Actions</th>
          {% endif %}
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        {% for row in (goodsSummaryRows or speciesRows) %}
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">{{ (row.commodityDetails or commodityDetails).code }}</td>
          <td class="govuk-table__cell">{{ (row.commodityDetails or commodityDetails).commonName }}</td>
          <td class="govuk-table__cell">{{ (row.commodityDetails or commodityDetails).description }}</td>
          <td class="govuk-table__cell">
            {% if row.speciesList and (row.speciesList | length) > 0 %}
            {{ row.speciesList | join("<br>") | safe }}
            {% else %}
            {{ row.speciesDisplay or row.speciesName }}
            {% endif %}
          </td>
          {% if showActionsColumn %}
          <td class="govuk-table__cell govuk-table__cell--numeric">
            {% if row.addSpeciesHref %}
            <a href="{{ row.addSpeciesHref }}" class="govuk-link">Add another species</a>
            {% endif %}
          </td>
          {% endif %}
        </tr>
        {% endfor %}
      </tbody>
    </table>

    <form method="post" novalidate id="animal-identification-form">
      {% for species in speciesRows %}
      <div class="species-section species-section--bordered govuk-!-margin-top-6" data-species-key="{{ species.key }}" data-species-and-type="{{ species.speciesAndType }}" data-is-pet="{{ 'true' if species.isPetIdentification else 'false' }}" data-is-game-bird="{{ 'true' if species.isGameBirdIdentification else 'false' }}" data-is-horse="{{ 'true' if species.isHorseIdentification else 'false' }}" data-is-ear-tag-only="{{ 'true' if species.isEarTagOnlyIdentification else 'false' }}">
      <div class="species-section-header">
        <div>
          <h2 class="govuk-heading-m govuk-!-margin-bottom-0">{{ species.speciesName }}</h2>
        </div>
        <div class="species-section-set-rows">
          <label for="set-rows-{{ species.key }}" class="govuk-body govuk-!-font-size-14 govuk-!-margin-right-1">Number of animals</label>
          <input type="number" id="set-rows-{{ species.key }}" class="govuk-input govuk-input--width-4 govuk-!-display-inline-block govuk-!-margin-right-1" min="1" max="999" value="{{ species.quantity }}" aria-label="Number of animals for {{ species.speciesName }}">
          <button type="button" class="govuk-button govuk-button--secondary govuk-button--small set-rows-apply govuk-!-margin-0" data-species-key="{{ species.key }}">Add</button>
        </div>
      </div>

      <table class="govuk-table animal-identification-table govuk-!-margin-bottom-3">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Animal</th>
            {% if species.isPetIdentification %}
            <th scope="col" class="govuk-table__header">Microchip</th>
            <th scope="col" class="govuk-table__header">Passport</th>
            <th scope="col" class="govuk-table__header">Tattoo</th>
            {% elif species.isGameBirdIdentification %}
            <th scope="col" class="govuk-table__header">Flock id</th>
            <th scope="col" class="govuk-table__header">Hatching date</th>
            {% elif species.isHorseIdentification %}
            <th scope="col" class="govuk-table__header">Microchip</th>
            <th scope="col" class="govuk-table__header">Passport</th>
            {% elif species.isEarTagOnlyIdentification %}
            <th scope="col" class="govuk-table__header">Ear tag</th>
            {% else %}
            <th scope="col" class="govuk-table__header">Ear tag</th>
            <th scope="col" class="govuk-table__header">Passport</th>
            {% endif %}
            <th scope="col" class="govuk-table__header govuk-table__header--numeric">Actions</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body animal-rows" id="animal-rows-{{ species.key }}">
          {% for animal in species.animals %}
          <tr class="govuk-table__row animal-row" data-species-key="{{ species.key }}" data-animal-index="{{ animal.index }}">
            <td class="govuk-table__cell">{% if species.isPetIdentification or species.isGameBirdIdentification or species.isHorseIdentification or species.isEarTagOnlyIdentification %}{{ species.speciesName }} {{ animal.index }}{% else %}{{ species.speciesName }} {{ animal.index }} of {{ species.quantity }}{% endif %}</td>
            {% if species.isPetIdentification %}
            <td class="govuk-table__cell">
              <div class="govuk-form-group govuk-!-margin-bottom-0 {% if data.errors and data.errors[animal.microchipKey] %}govuk-form-group--error{% endif %}">
                <label class="govuk-label govuk-visually-hidden" for="microchip-{{ animal.microchipKey }}">Microchip for {{ species.speciesAndType }} animal {{ animal.index }}</label>
                {% if data.errors and data.errors[animal.microchipKey] %}
                  <p class="govuk-error-message" id="microchip-{{ animal.microchipKey }}-error"><span class="govuk-visually-hidden">Error:</span> {{ data.errors[animal.microchipKey] }}</p>
                {% endif %}
                <input class="govuk-input govuk-input--width-20" id="microchip-{{ animal.microchipKey }}" name="{{ animal.microchipKey }}" type="text" value="{{ data[animal.microchipKey] or '' }}" spellcheck="false" {% if data.errors and data.errors[animal.microchipKey] %}aria-describedby="microchip-{{ animal.microchipKey }}-error" aria-invalid="true"{% endif %}>
              </div>
            </td>
            <td class="govuk-table__cell">
              <div class="govuk-form-group govuk-!-margin-bottom-0 {% if data.errors and data.errors[animal.passportKey] %}govuk-form-group--error{% endif %}">
                <label class="govuk-label govuk-visually-hidden" for="passport-{{ animal.passportKey }}">Passport for {{ species.speciesAndType }} animal {{ animal.index }}</label>
                {% if data.errors and data.errors[animal.passportKey] %}
                  <p class="govuk-error-message" id="passport-{{ animal.passportKey }}-error"><span class="govuk-visually-hidden">Error:</span> {{ data.errors[animal.passportKey] }}</p>
                {% endif %}
                <input class="govuk-input govuk-input--width-20" id="passport-{{ animal.passportKey }}" name="{{ animal.passportKey }}" type="text" value="{{ data[animal.passportKey] or '' }}" spellcheck="false" {% if data.errors and data.errors[animal.passportKey] %}aria-describedby="passport-{{ animal.passportKey }}-error" aria-invalid="true"{% endif %}>
              </div>
            </td>
            <td class="govuk-table__cell">
              <div class="govuk-form-group govuk-!-margin-bottom-0 {% if data.errors and data.errors[animal.tattooKey] %}govuk-form-group--error{% endif %}">
                <label class="govuk-label govuk-visually-hidden" for="tattoo-{{ animal.tattooKey }}">Tattoo for {{ species.speciesAndType }} animal {{ animal.index }}</label>
                {% if data.errors and data.errors[animal.tattooKey] %}
                  <p class="govuk-error-message" id="tattoo-{{ animal.tattooKey }}-error"><span class="govuk-visually-hidden">Error:</span> {{ data.errors[animal.tattooKey] }}</p>
                {% endif %}
                <input class="govuk-input govuk-input--width-20" id="tattoo-{{ animal.tattooKey }}" name="{{ animal.tattooKey }}" type="text" value="{{ data[animal.tattooKey] or '' }}" spellcheck="false" {% if data.errors and data.errors[animal.tattooKey] %}aria-describedby="tattoo-{{ animal.tattooKey }}-error" aria-invalid="true"{% endif %}>
              </div>
            </td>
            {% elif species.isGameBirdIdentification %}
            <td class="govuk-table__cell">
              <div class="govuk-form-group govuk-!-margin-bottom-0 {% if data.errors and data.errors[animal.flockIdKey] %}govuk-form-group--error{% endif %}">
                <label class="govuk-label govuk-visually-hidden" for="flock-id-{{ animal.flockIdKey }}">Flock id for {{ species.speciesAndType }} {{ animal.index }}</label>
                {% if data.errors and data.errors[animal.flockIdKey] %}
                  <p class="govuk-error-message" id="flock-id-{{ animal.flockIdKey }}-error"><span class="govuk-visually-hidden">Error:</span> {{ data.errors[animal.flockIdKey] }}</p>
                {% endif %}
                <input class="govuk-input govuk-input--width-20" id="flock-id-{{ animal.flockIdKey }}" name="{{ animal.flockIdKey }}" type="text" value="{{ data[animal.flockIdKey] or '' }}" spellcheck="false" {% if data.errors and data.errors[animal.flockIdKey] %}aria-describedby="flock-id-{{ animal.flockIdKey }}-error" aria-invalid="true"{% endif %}>
              </div>
            </td>
            <td class="govuk-table__cell">
              <div class="govuk-form-group govuk-!-margin-bottom-0 {% if data.errors and data.errors[animal.hatchingDateKey] %}govuk-form-group--error{% endif %}">
                <label class="govuk-label govuk-visually-hidden" for="hatching-date-{{ animal.hatchingDateKey }}">Hatching date for {{ species.speciesAndType }} {{ animal.index }}</label>
                {% if data.errors and data.errors[animal.hatchingDateKey] %}
                  <p class="govuk-error-message" id="hatching-date-{{ animal.hatchingDateKey }}-error"><span class="govuk-visually-hidden">Error:</span> {{ data.errors[animal.hatchingDateKey] }}</p>
                {% endif %}
                <input class="govuk-input govuk-input--width-10" id="hatching-date-{{ animal.hatchingDateKey }}" name="{{ animal.hatchingDateKey }}" type="text" value="{{ data[animal.hatchingDateKey] or '' }}" spellcheck="false" autocomplete="off" placeholder="For example, 24 4 2025" {% if data.errors and data.errors[animal.hatchingDateKey] %}aria-describedby="hatching-date-{{ animal.hatchingDateKey }}-error" aria-invalid="true"{% endif %}>
              </div>
            </td>
            {% elif species.isEarTagOnlyIdentification %}
            <td class="govuk-table__cell">
              <div class="govuk-form-group govuk-!-margin-bottom-0 {% if data.errors and data.errors[animal.earTagKey] %}govuk-form-group--error{% endif %}">
                <label class="govuk-label govuk-visually-hidden" for="ear-tag-{{ animal.earTagKey }}">Ear tag for {{ species.speciesAndType }} {{ animal.index }}</label>
                {% if data.errors and data.errors[animal.earTagKey] %}
                  <p class="govuk-error-message" id="ear-tag-{{ animal.earTagKey }}-error"><span class="govuk-visually-hidden">Error:</span> {{ data.errors[animal.earTagKey] }}</p>
                {% endif %}
                <input class="govuk-input govuk-input--width-20" id="ear-tag-{{ animal.earTagKey }}" name="{{ animal.earTagKey }}" type="text" value="{{ data[animal.earTagKey] or '' }}" spellcheck="false" {% if data.errors and data.errors[animal.earTagKey] %}aria-describedby="ear-tag-{{ animal.earTagKey }}-error" aria-invalid="true"{% endif %}>
              </div>
            </td>
            {% elif species.isHorseIdentification %}
            <td class="govuk-table__cell">
              <div class="govuk-form-group govuk-!-margin-bottom-0 {% if data.errors and data.errors[animal.microchipKey] %}govuk-form-group--error{% endif %}">
                <label class="govuk-label govuk-visually-hidden" for="microchip-{{ animal.microchipKey }}">Microchip for {{ species.speciesAndType }} {{ animal.index }}</label>
                {% if data.errors and data.errors[animal.microchipKey] %}
                  <p class="govuk-error-message" id="microchip-{{ animal.microchipKey }}-error"><span class="govuk-visually-hidden">Error:</span> {{ data.errors[animal.microchipKey] }}</p>
                {% endif %}
                <input class="govuk-input govuk-input--width-20" id="microchip-{{ animal.microchipKey }}" name="{{ animal.microchipKey }}" type="text" value="{{ data[animal.microchipKey] or '' }}" spellcheck="false" {% if data.errors and data.errors[animal.microchipKey] %}aria-describedby="microchip-{{ animal.microchipKey }}-error" aria-invalid="true"{% endif %}>
              </div>
            </td>
            <td class="govuk-table__cell">
              <div class="govuk-form-group govuk-!-margin-bottom-0 {% if data.errors and data.errors[animal.passportKey] %}govuk-form-group--error{% endif %}">
                <label class="govuk-label govuk-visually-hidden" for="passport-{{ animal.passportKey }}">Passport for {{ species.speciesAndType }} {{ animal.index }}</label>
                {% if data.errors and data.errors[animal.passportKey] %}
                  <p class="govuk-error-message" id="passport-{{ animal.passportKey }}-error"><span class="govuk-visually-hidden">Error:</span> {{ data.errors[animal.passportKey] }}</p>
                {% endif %}
                <input class="govuk-input govuk-input--width-20" id="passport-{{ animal.passportKey }}" name="{{ animal.passportKey }}" type="text" value="{{ data[animal.passportKey] or '' }}" spellcheck="false" {% if data.errors and data.errors[animal.passportKey] %}aria-describedby="passport-{{ animal.passportKey }}-error" aria-invalid="true"{% endif %}>
              </div>
            </td>
            {% else %}
            <td class="govuk-table__cell">
              <div class="govuk-form-group govuk-!-margin-bottom-0 {% if data.errors and data.errors[animal.earTagKey] %}govuk-form-group--error{% endif %}">
                <label class="govuk-label govuk-visually-hidden" for="ear-tag-{{ animal.earTagKey }}">Ear tag for {{ species.speciesAndType }} animal {{ animal.index }}</label>
                {% if data.errors and data.errors[animal.earTagKey] %}
                  <p class="govuk-error-message" id="ear-tag-{{ animal.earTagKey }}-error"><span class="govuk-visually-hidden">Error:</span> {{ data.errors[animal.earTagKey] }}</p>
                {% endif %}
                <input class="govuk-input govuk-input--width-20" id="ear-tag-{{ animal.earTagKey }}" name="{{ animal.earTagKey }}" type="text" value="{{ data[animal.earTagKey] or '' }}" {% if data.errors and data.errors[animal.earTagKey] %}aria-describedby="ear-tag-{{ animal.earTagKey }}-error" aria-invalid="true"{% endif %}>
              </div>
            </td>
            <td class="govuk-table__cell">
              <div class="govuk-form-group govuk-!-margin-bottom-0 {% if data.errors and data.errors[animal.passportKey] %}govuk-form-group--error{% endif %}">
                <label class="govuk-label govuk-visually-hidden" for="passport-{{ animal.passportKey }}">Passport for {{ species.speciesAndType }} animal {{ animal.index }}</label>
                {% if data.errors and data.errors[animal.passportKey] %}
                  <p class="govuk-error-message" id="passport-{{ animal.passportKey }}-error"><span class="govuk-visually-hidden">Error:</span> {{ data.errors[animal.passportKey] }}</p>
                {% endif %}
                <input class="govuk-input govuk-input--width-20" id="passport-{{ animal.passportKey }}" name="{{ animal.passportKey }}" type="text" value="{{ data[animal.passportKey] or '' }}" {% if data.errors and data.errors[animal.passportKey] %}aria-describedby="passport-{{ animal.passportKey }}-error" aria-invalid="true"{% endif %}>
              </div>
            </td>
            {% endif %}
            <td class="govuk-table__cell govuk-table__cell--numeric">
              <a href="#" class="govuk-link govuk-link--secondary govuk-!-font-size-16 remove-animal-row" data-species-key="{{ species.key }}" data-animal-index="{{ animal.index }}">Remove</a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      <p class="govuk-body govuk-!-margin-bottom-6">
        <a href="#" class="govuk-link govuk-link--secondary govuk-!-font-size-16 add-animal-row" data-species-key="{{ species.key }}">Add another {{ species.speciesName }}</a>
      </p>
      {{ govukInput({
        id: "numberOfPackages_" ~ species.key,
        name: "numberOfPackages_" ~ species.key,
        label: {
          text: "Number of packages"
        },
        hint: {
          text: "Such as crates, bags or boxes"
        },
        value: data['numberOfPackages_' ~ species.key] or '',
        type: "number",
        classes: "govuk-input--width-5",
        formGroup: {
          classes: "govuk-!-margin-top-6 govuk-!-margin-bottom-0"
        },
        attributes: {
          min: 1,
          step: 1
        },
        errorMessage: data.errors and data.errors['numberOfPackages_' ~ species.key]
      }) }}
      <input type="hidden" name="animalCount_{{ species.key }}" id="animalCount_{{ species.key }}" value="{{ species.quantity }}">
      </div>
      {% endfor %}

      <div class="govuk-!-margin-top-8">
      {{ govukButton({
        text: "Save and continue"
      }) }}
      </div>
    </form>

    <p class="govuk-body govuk-!-margin-top-4">
      <button type="submit" form="animal-identification-form" formaction="{{ prefillHref or (basePath or '/v1-experimental') + '/create/animal-identification-prefill' }}" formmethod="post" class="govuk-link govuk-link--secondary govuk-!-font-size-14 quick-fill-btn">Quick fill and continue (internal use)</button>
    </p>

{% endcall %}

{% endblock %}

{% block pageScripts %}
<script>
(function () {
  var form = document.getElementById('animal-identification-form')
  if (!form) return

  function getSpeciesLabel (section) {
    return section.getAttribute('data-species-and-type') || ''
  }

  function getSpeciesShortName (section) {
    var label = getSpeciesLabel(section)
    var part = label.split(',')[0]
    return (part && part.trim()) || label
  }

  form.addEventListener('click', function (e) {
    if (e.target.classList.contains('add-animal-row')) {
      e.preventDefault()
      var key = e.target.getAttribute('data-species-key')
      var section = form.querySelector('.species-section[data-species-key="' + key + '"]')
      var tbody = document.getElementById('animal-rows-' + key)
      if (!tbody) return
      var rows = tbody.querySelectorAll('.animal-row')
      if (rows.length === 0) return
      var lastRow = rows[rows.length - 1]
      var newIndex = rows.length + 1
      var newRow = lastRow.cloneNode(true)
      newRow.setAttribute('data-animal-index', newIndex)
      newRow.querySelectorAll('input').forEach(function (input) {
        input.value = ''
        input.removeAttribute('aria-invalid')
        input.removeAttribute('aria-describedby')
        var name = input.getAttribute('name')
        if (name && name.lastIndexOf('_') > 0) {
          var base = name.replace(/_\d+$/, '')
          var newName = base + '_' + newIndex
          input.setAttribute('name', newName)
          input.setAttribute('id', input.id ? input.id.replace(/_?\d+$/, '_' + newIndex) : newName)
        }
      })
      newRow.querySelectorAll('label[for]').forEach(function (label) {
        var forAttr = label.getAttribute('for')
        if (forAttr && forAttr.lastIndexOf('_') > 0) {
          var base = forAttr.replace(/_?\d+$/, '')
          label.setAttribute('for', base + '_' + newIndex)
        }
      })
      newRow.querySelectorAll('.govuk-error-message').forEach(function (el) { el.remove() })
      newRow.querySelectorAll('.govuk-form-group').forEach(function (el) { el.classList.remove('govuk-form-group--error') })
      var firstCell = newRow.querySelector('td:first-child')
      if (firstCell) {
        firstCell.textContent = getSpeciesShortName(section) + ' ' + newIndex
      }
      var removeLink = newRow.querySelector('.remove-animal-row')
      if (removeLink) {
        removeLink.setAttribute('data-animal-index', newIndex)
      }
      tbody.appendChild(newRow)
      renumberSpeciesRows(key)
    }
    if (e.target.classList.contains('remove-animal-row')) {
      e.preventDefault()
      var key = e.target.getAttribute('data-species-key')
      var row = e.target.closest('.animal-row')
      var tbody = document.getElementById('animal-rows-' + key)
      if (row && tbody && tbody.querySelectorAll('.animal-row').length > 1) {
        row.remove()
        renumberSpeciesRows(key)
      }
    }
    if (e.target.classList.contains('set-rows-apply')) {
      e.preventDefault()
      var key = e.target.getAttribute('data-species-key')
      var section = form.querySelector('.species-section[data-species-key="' + key + '"]')
      var input = document.getElementById('set-rows-' + key)
      var tbody = document.getElementById('animal-rows-' + key)
      if (!input || !tbody || !section) return
      var target = parseInt(input.value, 10)
      if (isNaN(target) || target < 1 || target > 999) return
      var rows = tbody.querySelectorAll('.animal-row')
      var current = rows.length
      if (target > current) {
        var lastRow = rows[rows.length - 1]
        if (!lastRow) return
        for (var i = current; i < target; i++) {
          var newIndex = i + 1
          var newRow = lastRow.cloneNode(true)
          newRow.setAttribute('data-animal-index', newIndex)
          newRow.querySelectorAll('input').forEach(function (inp) {
            inp.value = ''
            inp.removeAttribute('aria-invalid')
            inp.removeAttribute('aria-describedby')
            var name = inp.getAttribute('name')
            if (name && name.lastIndexOf('_') > 0) {
              var base = name.replace(/_\d+$/, '')
              var newName = base + '_' + newIndex
              inp.setAttribute('name', newName)
              inp.setAttribute('id', inp.id ? inp.id.replace(/_?\d+$/, '_' + newIndex) : newName)
            }
          })
          newRow.querySelectorAll('label[for]').forEach(function (label) {
            var forAttr = label.getAttribute('for')
            if (forAttr && forAttr.lastIndexOf('_') > 0) {
              var base = forAttr.replace(/_?\d+$/, '')
              label.setAttribute('for', base + '_' + newIndex)
            }
          })
          newRow.querySelectorAll('.govuk-error-message').forEach(function (el) { el.remove() })
          newRow.querySelectorAll('.govuk-form-group').forEach(function (el) { el.classList.remove('govuk-form-group--error') })
          var firstCell = newRow.querySelector('td:first-child')
          if (firstCell) firstCell.textContent = getSpeciesShortName(section) + ' ' + newIndex
          var removeLink = newRow.querySelector('.remove-animal-row')
          if (removeLink) removeLink.setAttribute('data-animal-index', newIndex)
          tbody.appendChild(newRow)
          lastRow = newRow
        }
      } else if (target < current) {
        rows = tbody.querySelectorAll('.animal-row')
        for (var j = current - 1; j >= target; j--) {
          rows[j].remove()
        }
      }
      renumberSpeciesRows(key)
      input.value = target
    }
  })

  function renumberSpeciesRows (key) {
    var tbody = document.getElementById('animal-rows-' + key)
    var section = form.querySelector('.species-section[data-species-key="' + key + '"]')
    if (!tbody || !section) return
    var rows = tbody.querySelectorAll('.animal-row')
    rows.forEach(function (row, i) {
      var newIndex = i + 1
      row.setAttribute('data-animal-index', newIndex)
      var firstCell = row.querySelector('td:first-child')
      if (firstCell) {
        firstCell.textContent = getSpeciesShortName(section) + ' ' + newIndex
      }
      row.querySelectorAll('input').forEach(function (input) {
        var name = input.getAttribute('name')
        if (name && name.lastIndexOf('_') > 0) {
          var base = name.replace(/_?\d+$/, '')
          var newName = base + '_' + newIndex
          input.setAttribute('name', newName)
          input.setAttribute('id', input.id ? input.id.replace(/_?\d+$/, '_' + newIndex) : newName)
        }
      })
      row.querySelectorAll('label[for]').forEach(function (label) {
        var forAttr = label.getAttribute('for')
        if (forAttr && forAttr.lastIndexOf('_') > 0) {
          var base = forAttr.replace(/_?\d+$/, '')
          label.setAttribute('for', base + '_' + newIndex)
        }
      })
      var removeLink = row.querySelector('.remove-animal-row')
      if (removeLink) {
        removeLink.setAttribute('data-animal-index', newIndex)
        removeLink.style.display = rows.length > 1 ? '' : 'none'
      }
    })
    rows.forEach(function (row) {
      var removeLink = row.querySelector('.remove-animal-row')
      if (removeLink) removeLink.style.display = rows.length > 1 ? '' : 'none'
    })
    var count = rows.length
    var countInput = document.getElementById('animalCount_' + key)
    if (countInput) countInput.value = count
  }

  form.querySelectorAll('.species-section').forEach(function (section) {
    var key = section.getAttribute('data-species-key')
    var removeLinks = section.querySelectorAll('.remove-animal-row')
    removeLinks.forEach(function (link) {
      link.style.display = removeLinks.length > 1 ? '' : 'none'
    })
  })
})()
</script>
{% endblock %}
