
{% extends "layouts/v1-experimental-forms.html" %}
{% set title = "Declaration" %}
{% set backLinkHref = (basePath or '/v1-experimental') + '/create/check-your-answers' %}

{% block formContent %}

{% from "includes/page-header.njk" import pageHeader %}
{% call pageHeader(title, null, "two-thirds") %}
    <p class="govuk-body">I confirm I am responsible for this notification.</p>
    <p class="govuk-body">I am responsible from the submission of this notification to when it enters Great Britain.</p>
    <p class="govuk-body">I am authorised as being accountable for these things if raising notifications on behalf of a third party.</p>
    <p class="govuk-body">I can legally act on behalf of a third party in relation to the conditions of this declaration.</p>

    <form method="post" novalidate>
      {{ govukCheckboxes({
        name: "declarationAccepted",
        idPrefix: "declaration-accepted",
        fieldset: {
          legend: {
            text: "Confirm your declaration",
            classes: "govuk-fieldset__legend--m"
          }
        },
        items: [
          {
            value: "yes",
            text: "I declare that the information I have provided in this notification I am submitting is true and correct.",
            checked: data.declarationAccepted === "yes",
            errorMessage: data.errors and data.errors.declarationAccepted
          }
        ]
      }) }}

      <p class="govuk-body govuk-!-margin-top-4">
        <strong>Date of declaration:</strong> {{ declarationDate }}
      </p>

      {{ govukButton({
        text: "Submit notification"
      }) }}

      <p class="govuk-body govuk-!-margin-top-4">
        <a href="{{ (basePath or '/v1-experimental') }}/create/declaration-prefill" class="govuk-link govuk-link--secondary govuk-!-font-size-14">Quick fill and continue (internal use)</a>
      </p>
    </form>

{% endcall %}

{% endblock %}
