
{% extends "layouts/v1-baseline.html" %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}

{% set title = "When will the animals arrive at the place of destination?" %}
{% block pageTitle %}{{ title }} - {{ serviceName }}{% endblock %}

{% block beforeContent %}
  {{ super() }}
  {{ govukBackLink({
    text: "Back",
    href: (basePath or '/v1-experimental') + '/create/contact-address-for-consignment'
  }) }}
{% endblock %}

{% block content %}

{% if data.errors %}
  {{ govukErrorSummary({
    titleText: "There is a problem",
    errorList: data.errorList
  }) }}
{% endif %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <span class="govuk-caption-l">Transport</span>
    <h1 class="govuk-heading-xl">{{ title }}</h1>

    <form method="post" novalidate>
      {{ govukInput({
        id: "arrivalDate",
        name: "arrivalDate",
        type: "date",
        label: {
          text: "Arrival date"
        },
        value: data.arrivalDate or defaultArrivalDate,
        hint: {
          text: "For example, 27 3 2023"
        },
        classes: "govuk-input--width-10",
        attributes: {
          min: minArrivalDate
        },
        errorMessage: data.errors and data.errors.arrivalDate and { text: data.errors.arrivalDate } or null
      }) }}

      {{ govukButton({
        text: "Save and continue"
      }) }}
    </form>

    <p class="govuk-body govuk-!-margin-top-4">
      <a href="{{ (basePath or '/v1-experimental') }}/create/transport-arrival-prefill" class="govuk-link govuk-link--secondary govuk-!-font-size-14">Quick fill and continue (internal use)</a>
    </p>

  </div>
</div>

{% endblock %}
