{% extends "layouts/_base.html" %}
{% set showDashboard = false %}

{% block content %}
<div class="govuk-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <div class="govuk-notification-banner govuk-notification-banner--warning" role="alert" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
            <div class="govuk-notification-banner__header">
                <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
                Important
                </h2>
            </div>
            <div class="govuk-notification-banner__content">
                <h3 class="govuk-notification-banner__heading">
                Consignment status
                </h3>
                <p class="govuk-body">Document check required at Border Control Post: {{ bcpText }}</p>
            </div>
        </div>

       <dl class="govuk-summary-list govuk-!-margin-bottom-6">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">CHED reference</dt>
          <dd class="govuk-summary-list__value">DRAFT.GB.2024.7016439</dd>
          <dd class="govuk-summary-list__actions"><a class="govuk-link" href="#">Copy<span class="govuk-visually-hidden"> CHED reference</span></a></dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Customs declaration reference</dt>
          <dd class="govuk-summary-list__value">GBCHD2024.7016439</dd>
          <dd class="govuk-summary-list__actions"><a class="govuk-link" href="#">Copy<span class="govuk-visually-hidden"> customs declaration reference</span></a></dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Customs document code</dt>
          <dd class="govuk-summary-list__value">N851</dd>
          <dd class="govuk-summary-list__actions"><a class="govuk-link" href="#">Copy<span class="govuk-visually-hidden"> customs document code</span></a></dd>
        </div>
      </dl>

      <h2 class="govuk-heading-m">What you need to do</h2>
      <p class="govuk-body">Tell the haulier to take this consignment directly to {{ bcpText }} on arrival in Great Britain.</p>
      <p class="govuk-body">If the consignment arrives in Great Britain at a different entry point, it must go directly to the Border Control Post where it first arrives instead.</p>

      <a href="/chedd-traces/22-review-notification-submitted" class="govuk-button" data-module="govuk-button">Continue</a>

    </div>
  </div>
</div>
{% endblock %}
