{% extends "layouts/_base.html" %}

{% set showDashboard = false %}

{% block content %}
<div class="govuk-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">Product introduction</h1>
      <p class="govuk-body">This will help other teams understand the Product we're building.</p>
      <p>This journey includes guidance pages, start page, dashboard and routing into different notification types.</p>
      <a href="/intro/step-by-step" class="govuk-button" data-module="govuk-button">Start journey</a>
    </div>
  </div>
</div>
{% endblock %}
