{% extends "layouts/main.html" %}
{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}

{% set title = "Precursor chemical licensing" %}

{% block beforeContent %}
  {{ govukBreadcrumbs({
    items: [
      { text: "Home", href: "https://www.gov.uk/" },
      { text: "Import goods into the UK: step by step", href: "/intro/import-goods-into-uk" }
    ]
  }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">Precursor chemical licensing</h1>
    <p class="govuk-body">&ldquo;The effective control of chemicals used in the illicit manufacture of narcotic drugs and psychotropic substances is an important tool in combating drug trafficking.&rdquo;</p>
    <p class="govuk-body">These chemicals &mdash; known as drug precursor chemicals &mdash; also have legitimate commercial uses, for example in medicines, flavourings and fragrances. This guidance explains the licences and registrations you need to protect legal trade in these substances while preventing them being diverted for illicit drug manufacture. Explosive precursor chemicals are controlled separately and are not covered by this guidance.</p>
    <p class="govuk-body">For documentation and labelling requirements, see <a class="govuk-link" href="https://www.gov.uk/government/publications/drug-precursor-chemicals-documenting-recording-and-labelling">drug precursor chemicals: documenting, recording and labelling</a>.</p>

    <h2 class="govuk-heading-m">Categories of drug precursor chemicals</h2>
    <p class="govuk-body">Regulation covers 4 categories of drug precursor chemical:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>category 1 &mdash; the most sensitive substances</li>
      <li>category 2 &mdash; less sensitive substances and &lsquo;pre-precursors&rsquo;</li>
      <li>category 3 &mdash; bulk chemicals with a wide range of manufacturing uses</li>
      <li>category 4 &mdash; medicinal products containing category 1 substances</li>
    </ul>
    <p class="govuk-body">&ldquo;With the exception of category 4 drug precursor chemicals, the legislation generally excludes medicinal products for human use.&rdquo;</p>
    <p class="govuk-body">See the <a class="govuk-link" href="https://www.gov.uk/government/publications/drug-precursor-chemicals-category-and-cn-codes">drug precursor chemicals category and CN codes</a> reference guide to check which category your substance falls into.</p>

    <h2 class="govuk-heading-m">Legal background</h2>
    <h3 class="govuk-heading-s">The UN Convention</h3>
    <p class="govuk-body">Article 12 of the 1988 Vienna Convention (the United Nations Convention against Illicit Traffic in Narcotic Drugs and Psychotropic Substances) requires countries to implement measures to control and monitor the legitimate trade in drug precursors.</p>
    <h3 class="govuk-heading-s">Legislation</h3>
    <p class="govuk-body">The control framework is implemented through a number of regulatory instruments, with amendments made over time, and applies to both Great Britain and Northern Ireland &mdash; though the detail of how it applies differs between the two, particularly for trade between them (see &lsquo;Trading in drug precursor chemicals between Great Britain and Northern Ireland&rsquo; below).</p>

    <h2 class="govuk-heading-m">Definitions</h2>
    <ul class="govuk-list govuk-list--bullet">
      <li><strong>Placing on the market</strong> &mdash; supplying or storing a substance for the purposes of distribution</li>
      <li><strong>Operator</strong> &mdash; any person engaged in placing a scheduled substance on the market</li>
      <li><strong>Responsible officer</strong> &mdash; the company representative who ensures regulatory compliance</li>
      <li><strong>Guarantor</strong> &mdash; a senior person who guarantees the responsible officer&rsquo;s performance</li>
    </ul>

    <h2 class="govuk-heading-m">Domestic licensing</h2>
    <p class="govuk-body">You need a domestic licence or registration if your company possesses, manufactures, produces or supplies category 1, 2 or 3 drug precursor chemicals in England, Wales or Scotland.</p>
    <p class="govuk-body">See the <a class="govuk-link" href="https://www.gov.uk/government/publications/precursor-chemicals-wallchart-for-domestic-licensing">precursor chemicals wallchart for domestic licensing</a> for an overview of what applies to you.</p>

    <h3 class="govuk-heading-s">Before you apply</h3>
    <p class="govuk-body">Register on the <a class="govuk-link" href="https://www.licensing-for-controlled-substances.homeoffice.gov.uk/registration">controlled drugs and precursor chemicals licensing system</a>. Your username and password will arrive in separate emails, and access to the online portal is only granted once your application has been approved.</p>
    <p class="govuk-body">If you need a password reset, email <a class="govuk-link" href="mailto:dflu.dom@homeoffice.gov.uk">dflu.dom@homeoffice.gov.uk</a> using the subject line &ldquo;Password reset required &ndash; Company Name &ndash; Company Account Number&rdquo;.</p>

    <h3 class="govuk-heading-s">Disclosure and Barring Service (DBS) checks</h3>
    <p class="govuk-body">&ldquo;Your application will not be progressed until we are in receipt of DBS enhanced disclosure for all persons named on the application form.&rdquo;</p>
    <p class="govuk-body">Matrix Security Watchdog carries out these checks &mdash; call 01420 558 752 or visit <a class="govuk-link" href="https://www.matrixscreening.com/cheqs/">the Matrix Screening website</a>. If you want to subscribe to the update service, you must first email explicit permission, including the full name, date of birth and disclosure reference number of the person concerned.</p>

    <h3 class="govuk-heading-s">Apply for a domestic licence or registration</h3>
    <p class="govuk-body">You&rsquo;ll need to provide:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>your company registration document (if applicable)</li>
      <li>a valid DBS reference and date for the responsible officer and guarantor</li>
      <li>a certificate of good conduct from a company officer</li>
      <li>a purchase order number (if applicable)</li>
      <li>knowledge of the precursor chemical substances and categories involved</li>
    </ul>
    <p class="govuk-body">Read the <a class="govuk-link" href="https://www.gov.uk/government/publications/domestic-licensing-application-guidance">domestic licensing application guidance</a>, then apply through the <a class="govuk-link" href="https://www.licensing-for-controlled-substances.homeoffice.gov.uk/">controlled drugs and precursor chemicals licensing portal</a>. If you&rsquo;re an existing licensee without a password, contact <a class="govuk-link" href="mailto:dflu.dom@homeoffice.gov.uk">dflu.dom@homeoffice.gov.uk</a>.</p>
    <p class="govuk-body">&ldquo;Domestic precursor licences and registrations specify the substances within the category which you are permitted to handle.&rdquo;</p>

    <h3 class="govuk-heading-s">Fees</h3>
    <p class="govuk-body">&ldquo;The fee levels are set out in The Controlled Drugs (Drug Precursors) (Intra-Community Trade and Community External Trade) Regulations 2010.&rdquo;</p>
    <p class="govuk-body">See the <a class="govuk-link" href="https://www.gov.uk/guidance/controlled-drugs-licence-fees">full list of controlled drugs licence fees</a>.</p>

    <h3 class="govuk-heading-s">After you apply</h3>
    <p class="govuk-body">&ldquo;Allow up to 16 weeks for us to contact you to arrange a compliance visit, if one is required.&rdquo;</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>all first-time category 1 licensees, new sites and upgrades require a compliance visit</li>
      <li>category 1 renewals are visited every 1 to 5 years, at the regulator&rsquo;s discretion</li>
      <li>category 2 and 3 renewals are not routinely visited, but remain subject to risk assessment</li>
      <li>applications will not be progressed unless all the correct supporting documents are included</li>
      <li>requests for further information will extend the processing timeline</li>
    </ul>
    <p class="govuk-body">You must pay by email instruction before a licence is issued.</p>

    <h3 class="govuk-heading-s">Compliance visits</h3>
    <p class="govuk-body">A compliance visit will only be arranged once all applicants named on the application hold a valid DBS check.</p>
    <h3 class="govuk-heading-s">Applications where a compliance visit is not needed</h3>
    <p class="govuk-body">Processing time is &ldquo;8 to 10 weeks from the point where an application acknowledgement email has been sent.&rdquo;</p>
    <p class="govuk-body">You must give written confirmation of any changes to:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>security arrangements</li>
      <li>standard operating procedures</li>
      <li>responsible persons or the guarantor</li>
    </ul>
    <p class="govuk-body">You&rsquo;ll also need to supply:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>photographs of your current storage (for example, the safe open and closed, the key safe, the press)</li>
      <li>photographs of recent register entries</li>
      <li>an electronic copy of your latest procedures, with any amendments highlighted</li>
    </ul>

    <h2 class="govuk-heading-m">End-user declarations</h2>
    <p class="govuk-body">&ldquo;Operators who supply category 1 substances are required to obtain a declaration from the end-user specifying the intended use.&rdquo;</p>
    <p class="govuk-body">Whether a declaration is needed for category 2 substances depends on the volume of trade involved.</p>

    <h2 class="govuk-heading-m">Import and export licensing</h2>
    <p class="govuk-body">You need a separate licence to move drug precursor chemicals to or from Great Britain and, in some cases, Northern Ireland.</p>
    <p class="govuk-body">See the <a class="govuk-link" href="https://www.gov.uk/government/publications/precursor-chemical-import-and-export-authorisation-wallchart">precursor chemical import and export authorisation wallchart</a>, and the &lsquo;Trading in drug precursor chemicals between Great Britain and Northern Ireland&rsquo; section below.</p>

    <h3 class="govuk-heading-s">Before you apply</h3>
    <p class="govuk-body">You&rsquo;ll need a National Drugs Control System (NDS) account &mdash; register through the <a class="govuk-link" href="https://dflu.homeoffice.gov.uk/#/home">National Drugs Control System</a>. Read the <a class="govuk-link" href="https://www.gov.uk/government/publications/national-drugs-control-system-user-guide">National Drugs Control System user guide</a> for help using it.</p>
    <p class="govuk-body">&ldquo;You will need a domestic licence covering the specific chemical for which you are applying before you can apply for an NDS account.&rdquo;</p>
    <p class="govuk-body">See the <a class="govuk-link" href="https://www.gov.uk/government/collections/drugs-licensing#import-export-licensing">import and export licensing collection</a> for more detail.</p>

    <h3 class="govuk-heading-s">Fees</h3>
    <p class="govuk-body">&ldquo;All fees for import and export licences are invoiced in arrears at the end of the month.&rdquo;</p>
    <p class="govuk-body">See the <a class="govuk-link" href="https://www.gov.uk/guidance/controlled-drugs-licence-fees">full list of controlled drugs licence fees</a>. Non-payment will delay any further applications you make.</p>

    <h3 class="govuk-heading-s">Apply for an import or export licence</h3>
    <p class="govuk-body">Licences are valid for:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>import licences &mdash; 3 months</li>
      <li>export licences &mdash; 2 months, or until the importing country&rsquo;s import permit expires, whichever is sooner</li>
    </ul>
    <p class="govuk-body">You&rsquo;ll need a new licence for each shipment &mdash; licences cannot be post-dated or issued retrospectively.</p>
    <p class="govuk-body">UK export applications must include the importing country&rsquo;s import permit, or they&rsquo;ll be rejected.</p>
    <p class="govuk-body">Category 1 import applications must include:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>a completed <a class="govuk-link" href="https://assets.publishing.service.gov.uk/media/6a22aecbe13080622db386e8/PC_Import_Questionnaire_Checklist.odt">import questionnaire checklist</a> (ODT, 6.86 KB)</li>
      <li>a copy of your domestic licence</li>
    </ul>

    <h3 class="govuk-heading-s">Pre-export notification (PEN): waiting period</h3>
    <p class="govuk-body">&ldquo;The vast majority of export authorisation applications are subject to a pre-export notification (PEN) process.&rdquo;</p>
    <p class="govuk-body">&ldquo;This process takes up to 17 working days and a decision is reached regarding authorisation of the shipment after this process is completed.&rdquo; This is in addition to standard processing time, which is up to 10 working days.</p>

    <h3 class="govuk-heading-s">Endorsements</h3>
    <p class="govuk-body">&ldquo;A condition of all import and export licences issued by the Home Office is for an immediate online endorsement of the actual shipment amounts and date of shipment.&rdquo;</p>
    <p class="govuk-body">Make endorsements through the <a class="govuk-link" href="https://dflu.homeoffice.gov.uk/#/home">National Drugs Control System</a>. If you delay endorsing a shipment, this may result in future applications being refused.</p>

    <h3 class="govuk-heading-s">Annual statistical returns</h3>
    <p class="govuk-body">Wholesalers, manufacturers, producers and suppliers of controlled drugs or precursor chemicals must submit an <a class="govuk-link" href="https://www.gov.uk/government/publications/controlled-drugs-annual-returns-form">annual statistical return form</a> to <a class="govuk-link" href="mailto:annualdrugreturns@homeoffice.gov.uk">annualdrugreturns@homeoffice.gov.uk</a>. See the <a class="govuk-link" href="https://www.gov.uk/government/publications/controlled-drugs-annual-statistical-returns-guidance">annual statistical returns guidance</a> for help completing it.</p>

    <h2 class="govuk-heading-m">Trading in drug precursor chemicals between Great Britain and Northern Ireland</h2>
    <p class="govuk-body">&ldquo;For the purposes of drug precursor chemical control, NI continues to apply European Union regulations, while GB does not.&rdquo;</p>
    <p class="govuk-body">Northern Ireland companies trading with EU member states don&rsquo;t need import or export licences, as this counts as intra-community trade. However, trade between Great Britain and Northern Ireland requires licensing, including for category 4 drug precursor chemicals (medicinal products containing ephedrine and pseudoephedrine).</p>
    <p class="govuk-body">&ldquo;The Drug and Firearms Licensing Unit continues to act as one of the UK competent authorities for drug precursor chemical control.&rdquo; No fee is charged for GB&ndash;NI import and export licences.</p>
    <p class="govuk-body">You&rsquo;ll need an end-user declaration:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>for individual transactions &mdash; <a class="govuk-link" href="https://www.gov.uk/government/publications/customer-declaration-of-specific-uses-of-the-scheduled-category-1-or-2-substances">customer declaration of specific uses of the scheduled category 1 or 2 substances</a></li>
      <li>for multiple transactions &mdash; <a class="govuk-link" href="https://www.gov.uk/government/publications/customer-declaration-of-specific-uses-of-the-scheduled-category-1-or-2-substances-multiple-transactions">customer declaration of specific uses of the scheduled category 1 or 2 substances: multiple transactions</a></li>
    </ul>

    <h2 class="govuk-heading-m">Thefts and losses</h2>
    <p class="govuk-body">Report any theft or loss by email to <a class="govuk-link" href="mailto:dflu.dom@homeoffice.gov.uk">dflu.dom@homeoffice.gov.uk</a>, using the <a class="govuk-link" href="https://www.gov.uk/government/publications/controlled-drugs-and-precursor-chemicals-thefts-or-losses">controlled drugs and precursor chemicals thefts or losses form</a>.</p>

    <h2 class="govuk-heading-m">Licence no longer needed</h2>
    <p class="govuk-body">Submit a <a class="govuk-link" href="https://www.gov.uk/government/publications/controlled-drugs-licence-return-premises-closure-statement">closure statement</a> if you no longer need your licence.</p>
    <p class="govuk-body">&ldquo;Even if you continue to trade but no longer handle controlled drugs or precursor chemicals you will need to submit a statement.&rdquo;</p>

    <h2 class="govuk-heading-m">Documentation, records and labelling</h2>
    <p class="govuk-body">See <a class="govuk-link" href="https://www.gov.uk/government/publications/drug-precursor-chemicals-documenting-recording-and-labelling">drug precursor chemicals: documenting, recording and labelling</a> for the requirements that apply to your paperwork, registers and labels.</p>

    <h2 class="govuk-heading-m">Suspicious activity reports</h2>
    <p class="govuk-body">&ldquo;If you notice any circumstances, such as unusual orders and transactions, which suggest that a drug precursor chemical being traded within the UK or between the UK and another country might be diverted to produce illicit drugs, you must notify the National Crime Agency immediately.&rdquo;</p>
    <p class="govuk-body">See the National Crime Agency&rsquo;s <a class="govuk-link" href="https://www.nationalcrimeagency.gov.uk/what-we-do/crime-threats/drug-trafficking/chemical-suspicious-activity-reports">guidance on chemical suspicious activity reports</a>.</p>

    <h2 class="govuk-heading-m">Personal information</h2>
    <p class="govuk-body">Read the <a class="govuk-link" href="https://www.gov.uk/government/publications/drugs-and-firearms-licensing-privacy-information-notices">drugs and firearms licensing privacy information notices</a> to find out how your personal information is used.</p>

    <h2 class="govuk-heading-m">Contact details</h2>
    <h3 class="govuk-heading-s">Domestic licensing</h3>
    <p class="govuk-body">Email <a class="govuk-link" href="mailto:dflu.dom@homeoffice.gov.uk">dflu.dom@homeoffice.gov.uk</a> or call 0300 105 0248 for UK licences, applications, renewals, compliance visits, thefts and losses, surrenders, and general enquiries.</p>
    <h3 class="govuk-heading-s">Import and export licensing</h3>
    <p class="govuk-body">Email <a class="govuk-link" href="mailto:dflu.ie@homeoffice.gov.uk">dflu.ie@homeoffice.gov.uk</a> for import and export of controlled substances, licences, applications, endorsements, and general enquiries.</p>
    <h3 class="govuk-heading-s">Customer complaints</h3>
    <p class="govuk-body">Email <a class="govuk-link" href="mailto:dflu.complaints@homeoffice.gov.uk">dflu.complaints@homeoffice.gov.uk</a> for complaints about import, export or domestic licensing. Try to resolve your complaint with the appropriate team first.</p>

  </div>
</div>
{% endblock %}
