
{% extends "layouts/v1-baseline-forms.html" %}
{% set title = "Additional animal details" %}
{% set backLinkHref = (basePath or '/v1-baseline') + '/create/animal-identification' %}

{% block formContent %}

{% from "includes/page-header.njk" import pageHeader %}
{% call pageHeader(title, null, "two-thirds") %}
    <form method="post" novalidate>
      {{ govukRadios({
        name: "animalsCertifiedFor",
        idPrefix: "animals-certified-for",
        fieldset: {
          legend: {
            text: "What are the animals certified for?",
            classes: "govuk-fieldset__legend--m"
          }
        },
        hint: {
          text: "You'll find this on the health certificate."
        },
        items: certifiedForItems,
        value: data.animalsCertifiedFor,
        errorMessage: data.errors and data.errors["animalsCertifiedFor"]
      }) }}

      {% if showUnweanedAnimals !== false %}
      {{ govukRadios({
        name: "unweanedAnimals",
        idPrefix: "unweaned-animals",
        fieldset: {
          legend: {
            text: "Does the consignment contain any unweaned animals?",
            classes: "govuk-fieldset__legend--m"
          }
        },
        hint: {
          text: "These are animals that are still feeding from their mother."
        },
        items: [
          { value: "yes", text: "Yes" },
          { value: "no", text: "No" }
        ],
        value: data.unweanedAnimals,
        errorMessage: data.errors and data.errors["unweanedAnimals"]
      }) }}
      {% endif %}

      {% include "includes/save-continue-and-task-list.njk" %}

      {% set quickFillHref = (basePath or '/v1-baseline') + '/create/additional-animal-details-prefill' %}
      {% include "includes/quick-fill-internal-link.njk" %}
    </form>

{% endcall %}

{% endblock %}
