
{% extends "layouts/v1-baseline.html" %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}

{% set title = "Add consignee address" %}
{% block pageTitle %}{{ title }} - {{ serviceName }}{% endblock %}

{% block beforeContent %}
  {{ super() }}
  {{ govukBackLink({
    text: "Back",
    href: (basePath or '/v1-baseline') + '/create/addresses'
  }) }}
{% endblock %}

{% block content %}

{% if data.errors %}
  {{ govukErrorSummary({
    titleText: "There is a problem",
    errorList: data.errorList
  }) }}
{% endif %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <span class="govuk-caption-l">Address</span>
    <h1 class="govuk-heading-xl">{{ title }}</h1>

    <p class="govuk-body">
      The consignee is the receiver or buyer of the consignment. Enter their UK address below.
    </p>

    <form method="post" novalidate>
      {{ govukInput({
        label: {
          text: "Name or organisation"
        },
        id: "consigneeName",
        name: "consigneeName",
        value: data.consigneeName,
        autocomplete: "name",
        errorMessage: data.errors and data.errors.consigneeName and { text: data.errors.consigneeName } or null
      }) }}

      {{ govukInput({
        label: {
          text: "Address line 1"
        },
        id: "consigneeAddressLine1",
        name: "consigneeAddressLine1",
        value: data.consigneeAddressLine1,
        autocomplete: "address-line1",
        errorMessage: data.errors and data.errors.consigneeAddressLine1 and { text: data.errors.consigneeAddressLine1 } or null
      }) }}

      {{ govukInput({
        label: {
          text: "Address line 2 (optional)"
        },
        id: "consigneeAddressLine2",
        name: "consigneeAddressLine2",
        value: data.consigneeAddressLine2,
        autocomplete: "address-line2"
      }) }}

      {{ govukInput({
        label: {
          text: "Town or city"
        },
        id: "consigneeTown",
        name: "consigneeTown",
        value: data.consigneeTown,
        autocomplete: "address-level2",
        errorMessage: data.errors and data.errors.consigneeTown and { text: data.errors.consigneeTown } or null
      }) }}

      {{ govukInput({
        label: {
          text: "Postcode"
        },
        id: "consigneePostcode",
        name: "consigneePostcode",
        value: data.consigneePostcode,
        classes: "govuk-input--width-10",
        autocomplete: "postal-code",
        errorMessage: data.errors and data.errors.consigneePostcode and { text: data.errors.consigneePostcode } or null
      }) }}

      {{ govukButton({
        text: "Save and continue"
      }) }}
    </form>

  </div>
</div>

{% endblock %}
