
{% extends "layouts/v1-baseline-forms.html" %}
{% set title = "Select species" %}
{% set backLinkHref = "/v1-baseline/create/commodity" %}

{% block formContent %}

{% from "includes/page-header.njk" import pageHeader %}
{% call pageHeader(title, "Description of the goods", "full") %}
    <form method="post" novalidate>
      {% if showCommodityType !== false %}
      {{ govukSelect({
        id: "commodityType",
        name: "commodityType",
        label: { text: "Type of commodity" },
        items: commodityTypeItems,
        value: data.commodityType or "domestic"
      }) }}
      {% endif %}

      {{ govukCheckboxes({
        name: "commoditySpecies",
        idPrefix: "commoditySpecies",
        fieldset: {
          legend: {
            text: "Select species of commodity",
            classes: "govuk-fieldset__legend--s"
          }
        },
        hint: {
          text: "Select all that apply."
        },
        items: speciesItems,
        errorMessage: data.errors and data.errors["commoditySpecies"]
      }) }}

      {{ govukButton({
        text: "Save and continue"
      }) }}

      {% set quickFillHref = (basePath or '/v1-baseline') + '/create/commodity-species-prefill' %}
      {% include "includes/quick-fill-internal-link.njk" %}
    </form>

{% endcall %}

{% endblock %}
