
{% extends "layouts/v1-baseline-forms.html" %}
{% set title = "What is the main reason for importing the animals?" %}
{% set backLinkHref = (basePath or '/v1-baseline') + '/create/additional-animal-details' %}

{% block formContent %}

{% from "includes/page-header.njk" import pageHeader %}
{% call pageHeader(title, null, "two-thirds") %}
    <form method="post" novalidate>
      {{ govukRadios({
        name: "importReason",
        idPrefix: "import-reason",
        fieldset: {
          legend: {
            text: "Choose the reason that applies to this consignment",
            isPageHeading: false,
            classes: "govuk-fieldset__legend--m"
          }
        },
        items: importReasonItems,
        value: data.importReason,
        errorMessage: data.errors and data.errors["importReason"]
      }) }}

      {% include "includes/save-continue-and-task-list.njk" %}

      {% set quickFillHref = (basePath or '/v1-baseline') + '/create/import-reason-prefill' %}
      {% include "includes/quick-fill-internal-link.njk" %}
    </form>

{% endcall %}

{% endblock %}
