
{% extends "layouts/v1-baseline-forms.html" %}
{% set title = "What are you importing?" %}
{% set backLinkHref = "/v1-baseline/dashboard" %}

{% block formContent %}

{% from "includes/page-header.njk" import pageHeader %}
{% call pageHeader(title, "About the consignment", "two-thirds") %}
    <form method="post" novalidate>
      {{ govukRadios({
        name: "importType",
        idPrefix: "import-type",
        fieldset: {
          legend: {
            text: title,
            isPageHeading: false,
            classes: "govuk-visually-hidden"
          }
        },
        items: [
          {
            value: "live-animals",
            text: "Live animals"
          }
        ],
        value: data.importType,
        errorMessage: data.errors and data.errors["importType"]
      }) }}

      {{ govukButton({
        text: "Save and continue"
      }) }}

      {% set quickFillHref = (basePath or '/v1-baseline') + '/create/import-type-prefill' %}
      {% include "includes/quick-fill-internal-link.njk" %}
    </form>

{% endcall %}

{% endblock %}
