
{% extends "layouts/v1-baseline-forms.html" %}
{% set title = "What is the main reason for importing the animals?" %}
{% set backLinkHref = "/v1-baseline/create/additional-animal-details" %}

{% block formContent %}

{% from "includes/page-header.njk" import pageHeader %}
{% call pageHeader(title, "About the consignment", "two-thirds") %}
    <form method="post" novalidate>
      {{ govukRadios({
        name: "importReason",
        idPrefix: "import-reason",
        fieldset: {
          legend: {
            text: title,
            isPageHeading: false,
            classes: "govuk-fieldset__legend--m"
          }
        },
        items: importReasonItems,
        value: data.importReason,
        errorMessage: data.errors and data.errors["importReason"]
      }) }}

      {{ govukButton({
        text: "Save and continue"
      }) }}

      {% set quickFillHref = (basePath or '/v1-baseline') + '/create/import-reason-prefill' %}
      {% include "includes/quick-fill-internal-link.njk" %}
    </form>

{% endcall %}

{% endblock %}
