
{% extends "layouts/v1-baseline.html" %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/select/macro.njk" import govukSelect %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}

{% set title = "Add a transporter" %}
{% block pageTitle %}{{ title }} - {{ serviceName }}{% endblock %}

{% block beforeContent %}
  {{ super() }}
  {{ govukBackLink({
    text: "Back",
    href: "/v1-baseline/create/transport-transporter"
  }) }}
{% endblock %}

{% block content %}

{% if data.errors %}
  {{ govukErrorSummary({
    titleText: "There is a problem",
    errorList: data.errorList
  }) }}
{% endif %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <span class="govuk-caption-l">Transport</span>
    <h1 class="govuk-heading-xl">{{ title }}</h1>

    <p class="govuk-body">
      Enter the transporter's address. You can add a UK or EU transporter. UK transporters must hold a valid transporter authorisation issued by DAERA or APHA. EU transporters need authorisation from their member state.
    </p>

    <form method="post" novalidate>
      {{ govukInput({
        label: {
          text: "Name or organisation"
        },
        id: "transporterName",
        name: "transporterName",
        value: data.transporterName,
        autocomplete: "name",
        errorMessage: data.errors and data.errors.transporterName and { text: data.errors.transporterName } or null
      }) }}

      {{ govukInput({
        label: {
          text: "Address line 1"
        },
        id: "transporterAddressLine1",
        name: "transporterAddressLine1",
        value: data.transporterAddressLine1,
        autocomplete: "address-line1",
        errorMessage: data.errors and data.errors.transporterAddressLine1 and { text: data.errors.transporterAddressLine1 } or null
      }) }}

      {{ govukInput({
        label: {
          text: "Address line 2 (optional)"
        },
        id: "transporterAddressLine2",
        name: "transporterAddressLine2",
        value: data.transporterAddressLine2,
        autocomplete: "address-line2"
      }) }}

      {{ govukInput({
        label: {
          text: "Town or city"
        },
        id: "transporterTown",
        name: "transporterTown",
        value: data.transporterTown,
        autocomplete: "address-level2",
        errorMessage: data.errors and data.errors.transporterTown and { text: data.errors.transporterTown } or null
      }) }}

      {{ govukInput({
        label: {
          text: "Postcode"
        },
        hint: {
          text: "Required for UK addresses. Optional for EU addresses."
        },
        id: "transporterPostcode",
        name: "transporterPostcode",
        value: data.transporterPostcode,
        autocomplete: "postal-code",
        classes: "govuk-input--width-10",
        errorMessage: data.errors and data.errors.transporterPostcode and { text: data.errors.transporterPostcode } or null
      }) }}

      {{ govukSelect({
        id: "transporterCountry",
        name: "transporterCountry",
        label: {
          text: "Country"
        },
        items: countryItems,
        value: data.transporterCountry,
        errorMessage: data.errors and data.errors.transporterCountry and { text: data.errors.transporterCountry } or null
      }) }}

      {{ govukButton({
        text: "Save and continue"
      }) }}
    </form>

    <p class="govuk-body govuk-!-margin-top-4">
      <a href="/v1-baseline/create/address-consignee-search?returnTo=transport-transporter" class="govuk-link govuk-link--secondary govuk-!-font-size-14">Search for an existing transporter instead</a>
    </p>

  </div>
</div>

{% endblock %}
