{% extends "layouts/ched-a.html" %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}

{% block content %}
<div class="govuk-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <p class="chedd-ref">DRAFT.GB.2026.0900608 - CHED-A</p>
      <h1 class="govuk-heading-l">Contact address for consignment</h1>

      <p class="govuk-body">This is the contact address of the person responsible for the consignment from when it enters Great Britain until authorities complete their checks.</p>

      <h2 class="govuk-heading-m">Select an address</h2>
      <p class="govuk-body">If the correct address is not shown, <a href="#" class="govuk-link">add a new branch address</a>, then return to this page.</p>

      {{ govukRadios({
        name: "contact-address",
        items: [
          { text: "Aberdeen Livestock Ltd", hint: { text: "15 Union Street, Aberdeen, AB11 5BN" }, value: "aberdeen-livestock-ltd-hq" },
          { text: "Aberdeen Livestock Ltd", hint: { text: "Unit 4, Craibstone Estate, Aberdeen, AB21 9YA" }, value: "aberdeen-livestock-ltd-craibstone" },
          { text: "Aberdeen Livestock Ltd", hint: { text: "Portlethen Business Park, Aberdeen, AB12 4QQ" }, value: "aberdeen-livestock-ltd-portlethen" }
        ]
      }) }}

      <a href="/ched-a/08-notification-hub" class="govuk-button" data-module="govuk-button">Continue</a>
    </div>
  </div>
</div>
{% endblock %}
