{% extends "layouts/_base.html" %}
{% set showDashboard = false %}

{% block content %}
<div class="govuk-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <p class="chedd-ref">DRAFT.GB.2024.7006103 - CHEDD</p>
      <span class="govuk-caption-l">About the consignment</span>
      <h1 class="govuk-heading-l">What are you importing?</h1>

      {{ govukRadios({
        name: "import-type",
        items: [
          { text: "Live animal or germinal products" },
          { text: "Products of animal origin or animal by-products" },
          { text: "High risk food or feed of non-animal origin" },
          { text: "Plants, plant products and other objects" }
        ]
      }) }}

      <a href="/chedd-traces/02-origin-animal-or-product" class="govuk-button" data-module="govuk-button">Save and continue</a>
    </div>
  </div>
</div>
{% endblock %}
