{% extends "layouts/_base.html" %}
{% set showDashboard = true %}

{% block content %}
<div class="govuk-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <p class="chedd-ref">DRAFT.GB.2024.7006103 - CHEDD</p>
      <span class="govuk-caption-l">About the consignment</span>
      <h1 class="govuk-heading-l">{{ originHeading }}</h1>

      <div class="govuk-form-group">
        <label class="govuk-label govuk-label--m" for="origin-country">Country of origin</label>
        <div class="autocomplete-wrapper autocomplete-wrapper--20em">
        <select class="govuk-select" id="origin-country" name="origin-country">
          <option value="" disabled selected></option>
          {% for country in tracesCountries() %}
          <option value="{{ country.value }}">{{ country.text }}</option>
          {% endfor %}
        </select>
        </div>
      </div>

      <details class="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            If the country of origin is not listed
          </span>
        </summary>
        <div class="govuk-details__text">
          <p>You can no longer select EU and European Free Trade Association (EFTA) countries from this list.</p>
          <p><a href="#" target="_blank" rel="noopener noreferrer">Read more on EU and EFTA countries</a>.</p>
        </div>
      </details>

      <a href="/chedd-traces/03-origin-import" class="govuk-button" data-module="govuk-button">Save and continue</a>
    </div>
  </div>
</div>
{% endblock %}

{% block pageScripts %}
  {{ super() }}
  <script src="https://cdn.jsdelivr.net/npm/accessible-autocomplete@2.0.4/dist/accessible-autocomplete.min.js"></script>
  <script>
    (function () {
      var selectEl = document.querySelector('#origin-country')
      if (selectEl && typeof accessibleAutocomplete !== 'undefined') {
        accessibleAutocomplete.enhanceSelectElement({
          autoselect: true,
          showAllValues: false,
          placeholder: 'Type to search',
          defaultValue: (function () {
            var opt = selectEl.options[selectEl.options.selectedIndex]
            if (!opt || !opt.value) return ''
            return opt.text
          })(),
          minLength: 1,
          selectElement: selectEl
        })
      }
    })()
  </script>
{% endblock %}

