{% extends "layouts/_base.html" %}

{% block content %}
<div class="govuk-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {# <p class="chedd-ref">DRAFT.GB.2024.7006103 - CHEDD</p> #}
      <span class="govuk-caption-l">About the consignment</span>
      <h1 class="govuk-heading-l">Origin of the import</h1>

      <form method="post" novalidate>
      <div class="govuk-form-group">
        <label class="govuk-label govuk-label--m" for="origin-country">Country of origin</label>
        <div class="autocomplete-wrapper autocomplete-wrapper--20em">
        <select class="govuk-select" id="origin-country" name="origin-country">
          <option value="" disabled selected></option>
          {% for country in tracesCountries() %}
          <option value="{{ country.value }}" {% if data.countryOfOrigin == country.value %}selected{% endif %}>{{ country.text }}</option>
          {% endfor %}
        </select>
        </div>
      </div>

      <details class="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            If the country of origin is not listed
          </span>
        </summary>
            <div class="govuk-details__text">
          <p>You can no longer select EU and European Free Trade Association (EFTA) countries from this list.</p>
          <p><a href="#" target="_blank" rel="noopener noreferrer">Read more on EU and EFTA countries</a>.</p>
        </div>
      </details>
      </details>

      {# {{ govukRadios({
        name: "region-code",
        fieldset: { legend: { text: "Does your consignment require a region code?", classes: "govuk-fieldset__legend--m" } },
        items: [{ text: "Yes" }, { text: "No" }]
      }) }} #}

      <div class="govuk-form-group">
  <fieldset class="govuk-fieldset" aria-describedby="contact-hint">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
      <h1 class="govuk-fieldset__heading">
        Does the consignment have a region of origin code?
      </h1>
    </legend>
    {# <div id="contact-hint" class="govuk-hint">
      Select one option
    </div> #}
    <div class="govuk-radios" data-module="govuk-radios">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="contact" name="contact" type="radio" value="email" data-aria-controls="conditional-contact">
        <label class="govuk-label govuk-radios__label" for="contact">
          Yes
        </label>
      </div>
      <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-contact">
       <div class="govuk-form-group">
          <label class="govuk-label govuk-label--s" for="cost">
            Enter the region of origin code
            </label>
            <div class="govuk-hint" id="region-code-hint">
              Enter up to 5 characters
            </div>
          <div class="govuk-input__wrapper">
            <div class="govuk-input__prefix" aria-hidden="true">KY</div>
            <input class="govuk-input govuk-input--width-5" id="cost" name="cost" type="text" spellcheck="false">
          </div>
        </div>
      </div>

      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="contact-2" name="contact" type="radio" value="phone"">
        <label class="govuk-label govuk-radios__label" for="contact-2">
          No
        </label>
      </div>
      {# <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-contact-2">
        <div class="govuk-form-group">
          <label class="govuk-label" for="contact-by-phone">
            Phone number
          </label>
          <input class="govuk-input govuk-!-width-one-third" id="contact-by-phone" name="contactByPhone" type="tel" autocomplete="tel">
        </div>
      </div> #}
      {# <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="contact-3" name="contact" type="radio" value="text" data-aria-controls="conditional-contact-3">
        <label class="govuk-label govuk-radios__label" for="contact-3">
          Text message
        </label>
      </div> #}
      {# <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-contact-3">
        <div class="govuk-form-group">
          <label class="govuk-label" for="contact-by-text">
            Mobile phone number
          </label>
          <input class="govuk-input govuk-!-width-one-third" id="contact-by-text" name="contactByText" type="tel" autocomplete="tel">
        </div>
      </div> #}
    </div>
  </fieldset>
</div>

      <div class="govuk-form-group">
        <label class="govuk-label govuk-label--m" for="origin-assigned-country">Country of dispatch</label>
        <div class="autocomplete-wrapper autocomplete-wrapper--20em">
        <select class="govuk-select" id="origin-assigned-country" name="origin-assigned-country">
          <option value="" disabled selected></option>
          {% for country in tracesCountries() %}
          <option value="{{ country.value }}" {% if data['origin-assigned-country'] == country.value %}selected{% endif %}>{{ country.text }}</option>
          {% endfor %}
        </select>
        </div>
      </div>

      {{ govukInput({
        label: { text: "Your local reference for this consignment (optional)", classes: "govuk-label--m" },
        hint: { text: "Enter any local reference number you want to use to identify this consignment, or leave blank." },
        id: "consignment-ref",
        name: "consignment-ref",
        value: data['consignment-ref'],
        classes: "govuk-input govuk-input--width-40"
      }) }}

      <button type="submit" class="govuk-button" data-module="govuk-button">Save and continue</button>
      </form>
    </div>
  </div>
</div>
{% endblock %}

{% block pageScripts %}
  {{ super() }}
  <script src="https://cdn.jsdelivr.net/npm/accessible-autocomplete@2.0.4/dist/accessible-autocomplete.min.js"></script>
  <script>
    (function () {
      function enhance (id) {
        var selectEl = document.querySelector('#' + id)
        if (!selectEl || typeof accessibleAutocomplete === 'undefined') return
        accessibleAutocomplete.enhanceSelectElement({
          autoselect: true,
          showAllValues: false,
          placeholder: 'Type to search',
          defaultValue: (function () {
            var opt = selectEl.options[selectEl.options.selectedIndex]
            if (!opt || !opt.value) return ''
            return opt.text
          })(),
          minLength: 1,
          selectElement: selectEl
        })
      }
      enhance('origin-country')
      enhance('origin-assigned-country')
    })()
  </script>
{% endblock %}
