{% extends "layouts/_base.html" %}

{% block content %}
<div class="govuk-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <p class="chedd-ref">DRAFT.GB.2024.7006103 - CHEDD</p>
      <span class="govuk-caption-l">About the consignment</span>
      <h1 class="govuk-heading-l">Origin of the import</h1>

      <div class="govuk-form-group">
        <label class="govuk-label govuk-label--m" for="origin-country">Country of origin</label>
        <div class="autocomplete-wrapper autocomplete-wrapper--20em">
        <select class="govuk-select" id="origin-country" name="origin-country">
          <option value="" disabled selected></option>
          <option value="territory:AE-AZ">Abu Dhabi</option>
          <option value="country:AF">Afghanistan</option>
          <option value="territory:AE-AJ">Ajman</option>
          <option value="territory:XQZ">Akrotiri</option>
          <option value="country:AL">Albania</option>
          <option value="country:DZ">Algeria</option>
          <option value="territory:AS">American Samoa</option>
          <option value="country:AD">Andorra</option>
          <option value="country:AO">Angola</option>
          <option value="territory:AI">Anguilla</option>
          <option value="territory:AQ">Antarctica</option>
          <option value="country:AG">Antigua and Barbuda</option>
          <option value="country:AR">Argentina</option>
          <option value="country:AM">Armenia</option>
          <option value="territory:AW">Aruba</option>
          <option value="territory:SH-AC">Ascension</option>
          <option value="country:AU">Australia</option>
          <option value="country:AZ">Azerbaijan</option>
          <option value="country:BH">Bahrain</option>
          <option value="territory:UM-81">Baker Island</option>
          <option value="country:BD">Bangladesh</option>
          <option value="country:BB">Barbados</option>
          <option value="country:BY">Belarus</option>
          <option value="country:BZ">Belize</option>
          <option value="country:BJ">Benin</option>
          <option value="territory:BM">Bermuda</option>
          <option value="country:BT">Bhutan</option>
          <option value="country:BO">Bolivia</option>
          <option value="territory:BQ-BO">Bonaire</option>
          <option value="country:BA">Bosnia and Herzegovina</option>
          <option value="country:BW">Botswana</option>
          <option value="territory:BV">Bouvet Island</option>
          <option value="country:BR">Brazil</option>
          <option value="territory:BAT">British Antarctic Territory</option>
          <option value="territory:IO">British Indian Ocean Territory</option>
          <option value="territory:VG">British Virgin Islands</option>
          <option value="country:BN">Brunei</option>
          <option value="country:BF">Burkina Faso</option>
          <option value="country:BI">Burundi</option>
          <option value="country:KH">Cambodia</option>
          <option value="country:CM">Cameroon</option>
          <option value="country:CA">Canada</option>
          <option value="country:CV">Cape Verde</option>
          <option value="territory:KY">Cayman Islands</option>
          <option value="country:CF">Central African Republic</option>
          <option value="territory:ES-CE">Ceuta</option>
          <option value="country:TD">Chad</option>
          <option value="country:CL">Chile</option>
          <option value="country:CN">China</option>
          <option value="territory:CX">Christmas Island</option>
          <option value="territory:CC">Cocos (Keeling) Islands</option>
          <option value="country:CO">Colombia</option>
          <option value="country:KM">Comoros</option>
          <option value="country:CG">Congo</option>
          <option value="country:CD">Congo (Democratic Republic)</option>
          <option value="territory:CK">Cook Islands</option>
          <option value="country:CR">Costa Rica</option>
          <option value="country:CU">Cuba</option>
          <option value="territory:CW">Curaçao</option>
          <option value="country:DJ">Djibouti</option>
          <option value="country:DM">Dominica</option>
          <option value="country:DO">Dominican Republic</option>
          <option value="territory:AE-DU">Dubai</option>
          <option value="country:TL">East Timor</option>
          <option value="country:EC">Ecuador</option>
          <option value="country:EG">Egypt</option>
          <option value="country:SV">El Salvador</option>
          <option value="country:GQ">Equatorial Guinea</option>
          <option value="country:ER">Eritrea</option>
          <option value="country:ET">Ethiopia</option>
          <option value="territory:FK">Falkland Islands</option>
          <option value="territory:FO">Faroe Islands</option>
          <option value="country:FJ">Fiji</option>
          <option value="territory:GF">French Guiana</option>
          <option value="territory:PF">French Polynesia</option>
          <option value="territory:TF">French Southern Territories</option>
          <option value="country:GA">Gabon</option>
          <option value="country:GM">Gambia</option>
          <option value="country:GE">Georgia</option>
          <option value="country:GH">Ghana</option>
          <option value="territory:GI">Gibraltar</option>
          <option value="territory:GL">Greenland</option>
          <option value="territory:GD">Grenada</option>
          <option value="territory:GP">Guadeloupe</option>
          <option value="territory:GU">Guam</option>
          <option value="country:GT">Guatemala</option>
          <option value="territory:GG">Guernsey</option>
          <option value="country:GN">Guinea</option>
          <option value="country:GW">Guinea-Bissau</option>
          <option value="country:GY">Guyana</option>
          <option value="country:HT">Haiti</option>
          <option value="territory:HM">Heard and McDonald Islands</option>
          <option value="country:HN">Honduras</option>
          <option value="territory:HK">Hong Kong</option>
          <option value="country:IS">Iceland</option>
          <option value="country:IN">India</option>
          <option value="country:ID">Indonesia</option>
          <option value="country:IR">Iran</option>
          <option value="country:IQ">Iraq</option>
          <option value="territory:IM">Isle of Man</option>
          <option value="country:IL">Israel</option>
          <option value="country:CI">Ivory Coast</option>
          <option value="territory:JM">Jamaica</option>
          <option value="country:JP">Japan</option>
          <option value="territory:JE">Jersey</option>
          <option value="country:JO">Jordan</option>
          <option value="country:KZ">Kazakhstan</option>
          <option value="country:KE">Kenya</option>
          <option value="territory:KI">Kiribati</option>
          <option value="country:KP">North Korea</option>
          <option value="country:KR">South Korea</option>
          <option value="country:KW">Kuwait</option>
          <option value="country:KG">Kyrgyzstan</option>
          <option value="country:LA">Laos</option>
          <option value="country:LB">Lebanon</option>
          <option value="country:LS">Lesotho</option>
          <option value="country:LR">Liberia</option>
          <option value="country:LY">Libya</option>
          <option value="country:LI">Liechtenstein</option>
          <option value="territory:MO">Macao</option>
          <option value="country:MG">Madagascar</option>
          <option value="country:MW">Malawi</option>
          <option value="country:MY">Malaysia</option>
          <option value="country:MV">Maldives</option>
          <option value="country:ML">Mali</option>
          <option value="country:MH">Marshall Islands</option>
          <option value="territory:MQ">Martinique</option>
          <option value="country:MR">Mauritania</option>
          <option value="country:MU">Mauritius</option>
          <option value="territory:YT">Mayotte</option>
          <option value="territory:ES-ML">Melilla</option>
          <option value="country:MX">Mexico</option>
          <option value="country:FM">Micronesia</option>
          <option value="country:MD">Moldova</option>
          <option value="country:MC">Monaco</option>
          <option value="country:MN">Mongolia</option>
          <option value="country:ME">Montenegro</option>
          <option value="territory:MS">Montserrat</option>
          <option value="country:MA">Morocco</option>
          <option value="country:MZ">Mozambique</option>
          <option value="country:MM">Myanmar (Burma)</option>
          <option value="country:NA">Namibia</option>
          <option value="country:NR">Nauru</option>
          <option value="country:NP">Nepal</option>
          <option value="territory:NC">New Caledonia</option>
          <option value="country:NZ">New Zealand</option>
          <option value="country:NI">Nicaragua</option>
          <option value="country:NE">Niger</option>
          <option value="country:NG">Nigeria</option>
          <option value="territory:NU">Niue</option>
          <option value="territory:NF">Norfolk Island</option>
          <option value="territory:MP">Northern Mariana Islands</option>
          <option value="country:NO">Norway</option>
          <option value="territory:PS">Occupied Palestinian Territories</option>
          <option value="country:OM">Oman</option>
          <option value="country:PK">Pakistan</option>
          <option value="country:PW">Palau</option>
          <option value="country:PA">Panama</option>
          <option value="country:PG">Papua New Guinea</option>
          <option value="country:PY">Paraguay</option>
          <option value="country:PE">Peru</option>
          <option value="country:PH">Philippines</option>
          <option value="territory:PN">Pitcairn, Henderson, Ducie and Oeno Islands</option>
          <option value="territory:PR">Puerto Rico</option>
          <option value="country:QA">Qatar</option>
          <option value="country:RU">Russia</option>
          <option value="country:RW">Rwanda</option>
          <option value="territory:RE">Réunion</option>
          <option value="territory:BQ-SA">Saba</option>
          <option value="territory:BL">Saint Barthélemy</option>
          <option value="territory:SH-HL">Saint Helena</option>
          <option value="territory:PM">Saint Pierre and Miquelon</option>
          <option value="territory:MF">Saint-Martin (French part)</option>
          <option value="country:WS">Samoa</option>
          <option value="country:SM">San Marino</option>
          <option value="country:ST">Sao Tome and Principe</option>
          <option value="country:SA">Saudi Arabia</option>
          <option value="country:SN">Senegal</option>
          <option value="country:RS">Serbia</option>
          <option value="country:SC">Seychelles</option>
          <option value="country:SL">Sierra Leone</option>
          <option value="country:SG">Singapore</option>
          <option value="territory:BQ-SE">Sint Eustatius</option>
          <option value="territory:SX">Sint Maarten (Dutch part)</option>
          <option value="country:SB">Solomon Islands</option>
          <option value="country:SO">Somalia</option>
          <option value="country:ZA">South Africa</option>
          <option value="territory:GS">South Georgia and South Sandwich Islands</option>
          <option value="country:SS">South Sudan</option>
          <option value="country:LK">Sri Lanka</option>
          <option value="country:KN">St Kitts and Nevis</option>
          <option value="country:LC">St Lucia</option>
          <option value="country:VC">St Vincent</option>
          <option value="country:SD">Sudan</option>
          <option value="country:SR">Suriname</option>
          <option value="territory:SJ">Svalbard and Jan Mayen</option>
          <option value="country:SZ">Swaziland</option>
          <option value="country:CH">Switzerland</option>
          <option value="country:SY">Syria</option>
          <option value="territory:TW">Taiwan</option>
          <option value="country:TJ">Tajikistan</option>
          <option value="country:TZ">Tanzania</option>
          <option value="country:TH">Thailand</option>
          <option value="country:BS">The Bahamas</option>
          <option value="country:GM">The Gambia</option>
          <option value="country:TG">Togo</option>
          <option value="territory:TK">Tokelau</option>
          <option value="country:TO">Tonga</option>
          <option value="country:TT">Trinidad and Tobago</option>
          <option value="territory:SH-TA">Tristan da Cunha</option>
          <option value="country:TN">Tunisia</option>
          <option value="country:TR">Turkey</option>
          <option value="country:TM">Turkmenistan</option>
          <option value="territory:TC">Turks and Caicos Islands</option>
          <option value="country:TV">Tuvalu</option>
          <option value="country:UG">Uganda</option>
          <option value="country:UA">Ukraine</option>
          <option value="country:AE">United Arab Emirates</option>
          <option value="country:US">United States</option>
          <option value="territory:VI">United States Virgin Islands</option>
          <option value="country:UY">Uruguay</option>
          <option value="country:UZ">Uzbekistan</option>
          <option value="country:VU">Vanuatu</option>
          <option value="country:VA">Vatican City</option>
          <option value="country:VE">Venezuela</option>
          <option value="country:VN">Vietnam</option>
          <option value="territory:WF">Wallis and Futuna</option>
          <option value="territory:EH">Western Sahara</option>
          <option value="country:YE">Yemen</option>
          <option value="country:ZM">Zambia</option>
          <option value="country:ZW">Zimbabwe</option>
          <option value="territory:AX">Åland Islands</option>
        </select>
        </div>
      </div>

      <details class="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            If the country of origin is not listed
          </span>
        </summary>
            <div class="govuk-details__text">
          <p>You can no longer select EU and European Free Trade Association (EFTA) countries from this list.</p>
          <p><a href="#" target="_blank" rel="noopener noreferrer">Read more on EU and EFTA countries</a>.</p>
        </div>
      </details>
      </details>

      {# {{ govukRadios({
        name: "region-code",
        fieldset: { legend: { text: "Does your consignment require a region code?", classes: "govuk-fieldset__legend--m" } },
        items: [{ text: "Yes" }, { text: "No" }]
      }) }} #}

      <div class="govuk-form-group">
  <fieldset class="govuk-fieldset" aria-describedby="contact-hint">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
      <h1 class="govuk-fieldset__heading">
        Does the consignment have a region of origin code?
      </h1>
    </legend>
    {# <div id="contact-hint" class="govuk-hint">
      Select one option
    </div> #}
    <div class="govuk-radios" data-module="govuk-radios">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="contact" name="contact" type="radio" value="email" data-aria-controls="conditional-contact">
        <label class="govuk-label govuk-radios__label" for="contact">
          Yes
        </label>
      </div>
      <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-contact">
       <div class="govuk-form-group">
          <label class="govuk-label govuk-label--s" for="cost">
            Enter the region of origin code
            </label>
            <div class="govuk-hint" id="region-code-hint">
              Enter up to 5 characters
            </div>
          <div class="govuk-input__wrapper">
            <div class="govuk-input__prefix" aria-hidden="true">KY</div>
            <input class="govuk-input govuk-input--width-5" id="cost" name="cost" type="text" spellcheck="false">
          </div>
        </div>
      </div>
  
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="contact-2" name="contact" type="radio" value="phone"">
        <label class="govuk-label govuk-radios__label" for="contact-2">
          No
        </label>
      </div>
      {# <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-contact-2">
        <div class="govuk-form-group">
          <label class="govuk-label" for="contact-by-phone">
            Phone number
          </label>
          <input class="govuk-input govuk-!-width-one-third" id="contact-by-phone" name="contactByPhone" type="tel" autocomplete="tel">
        </div>
      </div> #}
      {# <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="contact-3" name="contact" type="radio" value="text" data-aria-controls="conditional-contact-3">
        <label class="govuk-label govuk-radios__label" for="contact-3">
          Text message
        </label>
      </div> #}
      {# <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-contact-3">
        <div class="govuk-form-group">
          <label class="govuk-label" for="contact-by-text">
            Mobile phone number
          </label>
          <input class="govuk-input govuk-!-width-one-third" id="contact-by-text" name="contactByText" type="tel" autocomplete="tel">
        </div>
      </div> #}
    </div>
  </fieldset>
</div>

      <div class="govuk-form-group">
        <label class="govuk-label govuk-label--m" for="origin-assigned-country">Country of destination</label>
        <div class="autocomplete-wrapper autocomplete-wrapper--20em">
        <select class="govuk-select" id="origin-assigned-country" name="origin-assigned-country">
          <option value="" disabled selected></option>
          <option value="territory:AE-AZ">Abu Dhabi</option>
          <option value="country:AF">Afghanistan</option>
          <option value="territory:AE-AJ">Ajman</option>
          <option value="territory:XQZ">Akrotiri</option>
          <option value="country:AL">Albania</option>
          <option value="country:DZ">Algeria</option>
          <option value="territory:AS">American Samoa</option>
          <option value="country:AD">Andorra</option>
          <option value="country:AO">Angola</option>
          <option value="territory:AI">Anguilla</option>
          <option value="territory:AQ">Antarctica</option>
          <option value="country:AG">Antigua and Barbuda</option>
          <option value="country:AR">Argentina</option>
          <option value="country:AM">Armenia</option>
          <option value="territory:AW">Aruba</option>
          <option value="territory:SH-AC">Ascension</option>
          <option value="country:AU">Australia</option>
          <option value="country:AZ">Azerbaijan</option>
          <option value="country:BH">Bahrain</option>
          <option value="territory:UM-81">Baker Island</option>
          <option value="country:BD">Bangladesh</option>
          <option value="country:BB">Barbados</option>
          <option value="country:BY">Belarus</option>
          <option value="country:BZ">Belize</option>
          <option value="country:BJ">Benin</option>
          <option value="territory:BM">Bermuda</option>
          <option value="country:BT">Bhutan</option>
          <option value="country:BO">Bolivia</option>
          <option value="territory:BQ-BO">Bonaire</option>
          <option value="country:BA">Bosnia and Herzegovina</option>
          <option value="country:BW">Botswana</option>
          <option value="territory:BV">Bouvet Island</option>
          <option value="country:BR">Brazil</option>
          <option value="territory:BAT">British Antarctic Territory</option>
          <option value="territory:IO">British Indian Ocean Territory</option>
          <option value="territory:VG">British Virgin Islands</option>
          <option value="country:BN">Brunei</option>
          <option value="country:BF">Burkina Faso</option>
          <option value="country:BI">Burundi</option>
          <option value="country:KH">Cambodia</option>
          <option value="country:CM">Cameroon</option>
          <option value="country:CA">Canada</option>
          <option value="country:CV">Cape Verde</option>
          <option value="territory:KY">Cayman Islands</option>
          <option value="country:CF">Central African Republic</option>
          <option value="territory:ES-CE">Ceuta</option>
          <option value="country:TD">Chad</option>
          <option value="country:CL">Chile</option>
          <option value="country:CN">China</option>
          <option value="territory:CX">Christmas Island</option>
          <option value="territory:CC">Cocos (Keeling) Islands</option>
          <option value="country:CO">Colombia</option>
          <option value="country:KM">Comoros</option>
          <option value="country:CG">Congo</option>
          <option value="country:CD">Congo (Democratic Republic)</option>
          <option value="territory:CK">Cook Islands</option>
          <option value="country:CR">Costa Rica</option>
          <option value="country:CU">Cuba</option>
          <option value="territory:CW">Curaçao</option>
          <option value="country:DJ">Djibouti</option>
          <option value="country:DM">Dominica</option>
          <option value="country:DO">Dominican Republic</option>
          <option value="territory:AE-DU">Dubai</option>
          <option value="country:TL">East Timor</option>
          <option value="country:EC">Ecuador</option>
          <option value="country:EG">Egypt</option>
          <option value="country:SV">El Salvador</option>
          <option value="country:GQ">Equatorial Guinea</option>
          <option value="country:ER">Eritrea</option>
          <option value="country:ET">Ethiopia</option>
          <option value="territory:FK">Falkland Islands</option>
          <option value="territory:FO">Faroe Islands</option>
          <option value="country:FJ">Fiji</option>
          <option value="territory:GF">French Guiana</option>
          <option value="territory:PF">French Polynesia</option>
          <option value="territory:TF">French Southern Territories</option>
          <option value="country:GA">Gabon</option>
          <option value="country:GM">Gambia</option>
          <option value="country:GE">Georgia</option>
          <option value="country:GH">Ghana</option>
          <option value="territory:GI">Gibraltar</option>
          <option value="territory:GL">Greenland</option>
          <option value="territory:GD">Grenada</option>
          <option value="territory:GP">Guadeloupe</option>
          <option value="territory:GU">Guam</option>
          <option value="country:GT">Guatemala</option>
          <option value="territory:GG">Guernsey</option>
          <option value="country:GN">Guinea</option>
          <option value="country:GW">Guinea-Bissau</option>
          <option value="country:GY">Guyana</option>
          <option value="country:HT">Haiti</option>
          <option value="territory:HM">Heard and McDonald Islands</option>
          <option value="country:HN">Honduras</option>
          <option value="territory:HK">Hong Kong</option>
          <option value="country:IS">Iceland</option>
          <option value="country:IN">India</option>
          <option value="country:ID">Indonesia</option>
          <option value="country:IR">Iran</option>
          <option value="country:IQ">Iraq</option>
          <option value="territory:IM">Isle of Man</option>
          <option value="country:IL">Israel</option>
          <option value="country:CI">Ivory Coast</option>
          <option value="territory:JM">Jamaica</option>
          <option value="country:JP">Japan</option>
          <option value="territory:JE">Jersey</option>
          <option value="country:JO">Jordan</option>
          <option value="country:KZ">Kazakhstan</option>
          <option value="country:KE">Kenya</option>
          <option value="territory:KI">Kiribati</option>
          <option value="country:KP">North Korea</option>
          <option value="country:KR">South Korea</option>
          <option value="country:KW">Kuwait</option>
          <option value="country:KG">Kyrgyzstan</option>
          <option value="country:LA">Laos</option>
          <option value="country:LB">Lebanon</option>
          <option value="country:LS">Lesotho</option>
          <option value="country:LR">Liberia</option>
          <option value="country:LY">Libya</option>
          <option value="country:LI">Liechtenstein</option>
          <option value="territory:MO">Macao</option>
          <option value="country:MG">Madagascar</option>
          <option value="country:MW">Malawi</option>
          <option value="country:MY">Malaysia</option>
          <option value="country:MV">Maldives</option>
          <option value="country:ML">Mali</option>
          <option value="country:MH">Marshall Islands</option>
          <option value="territory:MQ">Martinique</option>
          <option value="country:MR">Mauritania</option>
          <option value="country:MU">Mauritius</option>
          <option value="territory:YT">Mayotte</option>
          <option value="territory:ES-ML">Melilla</option>
          <option value="country:MX">Mexico</option>
          <option value="country:FM">Micronesia</option>
          <option value="country:MD">Moldova</option>
          <option value="country:MC">Monaco</option>
          <option value="country:MN">Mongolia</option>
          <option value="country:ME">Montenegro</option>
          <option value="territory:MS">Montserrat</option>
          <option value="country:MA">Morocco</option>
          <option value="country:MZ">Mozambique</option>
          <option value="country:MM">Myanmar (Burma)</option>
          <option value="country:NA">Namibia</option>
          <option value="country:NR">Nauru</option>
          <option value="country:NP">Nepal</option>
          <option value="territory:NC">New Caledonia</option>
          <option value="country:NZ">New Zealand</option>
          <option value="country:NI">Nicaragua</option>
          <option value="country:NE">Niger</option>
          <option value="country:NG">Nigeria</option>
          <option value="territory:NU">Niue</option>
          <option value="territory:NF">Norfolk Island</option>
          <option value="territory:MP">Northern Mariana Islands</option>
          <option value="country:NO">Norway</option>
          <option value="territory:PS">Occupied Palestinian Territories</option>
          <option value="country:OM">Oman</option>
          <option value="country:PK">Pakistan</option>
          <option value="country:PW">Palau</option>
          <option value="country:PA">Panama</option>
          <option value="country:PG">Papua New Guinea</option>
          <option value="country:PY">Paraguay</option>
          <option value="country:PE">Peru</option>
          <option value="country:PH">Philippines</option>
          <option value="territory:PN">Pitcairn, Henderson, Ducie and Oeno Islands</option>
          <option value="territory:PR">Puerto Rico</option>
          <option value="country:QA">Qatar</option>
          <option value="country:RU">Russia</option>
          <option value="country:RW">Rwanda</option>
          <option value="territory:RE">Réunion</option>
          <option value="territory:BQ-SA">Saba</option>
          <option value="territory:BL">Saint Barthélemy</option>
          <option value="territory:SH-HL">Saint Helena</option>
          <option value="territory:PM">Saint Pierre and Miquelon</option>
          <option value="territory:MF">Saint-Martin (French part)</option>
          <option value="country:WS">Samoa</option>
          <option value="country:SM">San Marino</option>
          <option value="country:ST">Sao Tome and Principe</option>
          <option value="country:SA">Saudi Arabia</option>
          <option value="country:SN">Senegal</option>
          <option value="country:RS">Serbia</option>
          <option value="country:SC">Seychelles</option>
          <option value="country:SL">Sierra Leone</option>
          <option value="country:SG">Singapore</option>
          <option value="territory:BQ-SE">Sint Eustatius</option>
          <option value="territory:SX">Sint Maarten (Dutch part)</option>
          <option value="country:SB">Solomon Islands</option>
          <option value="country:SO">Somalia</option>
          <option value="country:ZA">South Africa</option>
          <option value="territory:GS">South Georgia and South Sandwich Islands</option>
          <option value="country:SS">South Sudan</option>
          <option value="country:LK">Sri Lanka</option>
          <option value="country:KN">St Kitts and Nevis</option>
          <option value="country:LC">St Lucia</option>
          <option value="country:VC">St Vincent</option>
          <option value="country:SD">Sudan</option>
          <option value="country:SR">Suriname</option>
          <option value="territory:SJ">Svalbard and Jan Mayen</option>
          <option value="country:SZ">Swaziland</option>
          <option value="country:CH">Switzerland</option>
          <option value="country:SY">Syria</option>
          <option value="territory:TW">Taiwan</option>
          <option value="country:TJ">Tajikistan</option>
          <option value="country:TZ">Tanzania</option>
          <option value="country:TH">Thailand</option>
          <option value="country:BS">The Bahamas</option>
          <option value="country:GM">The Gambia</option>
          <option value="country:TG">Togo</option>
          <option value="territory:TK">Tokelau</option>
          <option value="country:TO">Tonga</option>
          <option value="country:TT">Trinidad and Tobago</option>
          <option value="territory:SH-TA">Tristan da Cunha</option>
          <option value="country:TN">Tunisia</option>
          <option value="country:TR">Turkey</option>
          <option value="country:TM">Turkmenistan</option>
          <option value="territory:TC">Turks and Caicos Islands</option>
          <option value="country:TV">Tuvalu</option>
          <option value="country:UG">Uganda</option>
          <option value="country:UA">Ukraine</option>
          <option value="country:AE">United Arab Emirates</option>
          <option value="country:US">United States</option>
          <option value="territory:VI">United States Virgin Islands</option>
          <option value="country:UY">Uruguay</option>
          <option value="country:UZ">Uzbekistan</option>
          <option value="country:VU">Vanuatu</option>
          <option value="country:VA">Vatican City</option>
          <option value="country:VE">Venezuela</option>
          <option value="country:VN">Vietnam</option>
          <option value="territory:WF">Wallis and Futuna</option>
          <option value="territory:EH">Western Sahara</option>
          <option value="country:YE">Yemen</option>
          <option value="country:ZM">Zambia</option>
          <option value="country:ZW">Zimbabwe</option>
          <option value="territory:AX">Åland Islands</option>
        </select>
        </div>
      </div>

      {{ govukInput({
        label: { text: "Your local reference for this consignment (optional)", classes: "govuk-label--m" },
        hint: { text: "Enter any local reference number you want to use to identify this consignment, or leave blank." },
        id: "consignment-ref",
        name: "consignment-ref",
        classes: "govuk-input govuk-input--width-40"
      }) }}

      <a href="/chedd-traces/04-commodity-search" class="govuk-button" data-module="govuk-button">Save and continue</a>
    </div>
  </div>
</div>
{% endblock %}

{% block pageScripts %}
  {{ super() }}
  <script src="https://cdn.jsdelivr.net/npm/accessible-autocomplete@2.0.4/dist/accessible-autocomplete.min.js"></script>
  <script>
    (function () {
      function enhance (id) {
        var selectEl = document.querySelector('#' + id)
        if (!selectEl || typeof accessibleAutocomplete === 'undefined') return
        accessibleAutocomplete.enhanceSelectElement({
          autoselect: true,
          showAllValues: false,
          placeholder: 'Type to search',
          defaultValue: (function () {
            var opt = selectEl.options[selectEl.options.selectedIndex]
            if (!opt || !opt.value) return ''
            return opt.text
          })(),
          minLength: 1,
          selectElement: selectEl
        })
      }
      enhance('origin-country')
      enhance('origin-assigned-country')
    })()
  </script>
{% endblock %}
