{% extends "layouts/_base.html" %}

{% block content %}
<div class="govuk-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <p class="chedd-ref">DRAFT.GB.2024.7006103 - CHEDD</p>
      <span class="govuk-caption-l">About the consignment</span>
      <h1 class="govuk-heading-l">What is the main reason for importing the consignment?</h1>

      {% set facilityCountryOptions %}{% for country in tracesCountries() %}<option value="{{ country.value }}">{{ country.text }}</option>{% endfor %}{% endset %}

      {{ govukRadios({
        name: "reason",
        items: [
          {
            text: "Internal market",
            hint: { text: "The consignment is intended for sale or use in Great Britain (England, Scotland or Wales)." },
            conditional: {
              html: govukInput({
                label: { text: "Preferred onward transportation facility", classes: "govuk-label--s" },
                hint: { text: "Provide name in case of a pending laboratory test result" },
                id: "onward-facility-name",
                name: "onward-facility-name"
              }) + '<div class="govuk-form-group"><label class="govuk-label govuk-label--s" for="onward-facility-country">Country</label><div class="autocomplete-wrapper autocomplete-wrapper--20em"><select class="govuk-select" id="onward-facility-country" name="onward-facility-country"><option value="" disabled selected></option>' + facilityCountryOptions + '</select></div></div>' + govukInput({
                label: { text: "ISO code", classes: "govuk-label--s" },
                id: "onward-facility-iso-code",
                name: "onward-facility-iso-code",
                classes: "govuk-input--width-4",
                spellcheck: false
              })
            }
          },
          {
            text: "Non-internal market",
            checked: true,
            hint: { text: "The consignment is not intended for sale or use in Great Britain and will be exported to another country." },
            conditional: {
              html: govukInput({
                label: { text: "Point of exit", classes: "govuk-label--s" },
                hint: { text: "Place of departure from Great Britain" },
                id: "point-of-exit",
                name: "point-of-exit"
              }) + govukDateInput({
                id: "exit-date",
                namePrefix: "exit-date",
                fieldset: {
                  legend: { text: "When the consignment will leave Great Britain", classes: "govuk-fieldset__legend--s" }
                },
                hint: { text: "For example, 27 3 2026" }
              }) + '<div class="govuk-form-group"><fieldset class="govuk-fieldset" role="group" aria-describedby="exit-time-hint"><legend class="govuk-fieldset__legend govuk-fieldset__legend--s">Time of departure</legend><div id="exit-time-hint" class="govuk-hint">24 hour format, for example, 14 50</div><div class="govuk-date-input" id="exit-time"><div class="govuk-date-input__item"><div class="govuk-form-group"><label class="govuk-label govuk-date-input__label" for="exit-time-hour">Hour</label><input class="govuk-input govuk-date-input__input govuk-input--width-2" id="exit-time-hour" name="exit-time-hour" type="text" inputmode="numeric"></div></div><div class="govuk-date-input__item"><div class="govuk-form-group"><label class="govuk-label govuk-date-input__label" for="exit-time-minute">Minutes</label><input class="govuk-input govuk-date-input__input govuk-input--width-2" id="exit-time-minute" name="exit-time-minute" type="text" inputmode="numeric"></div></div></div></fieldset></div>'
            }
          }
        ]
      }) }}

      <a href="/chedd-traces/07-notification-hub" class="govuk-button" data-module="govuk-button">Save and continue</a>
    </div>
  </div>
</div>
{% endblock %}

{% block pageScripts %}
  {{ super() }}
  <script src="https://cdn.jsdelivr.net/npm/accessible-autocomplete@2.0.4/dist/accessible-autocomplete.min.js"></script>
  <script>
    (function () {
      function enhance (id) {
        var selectEl = document.querySelector('#' + id)
        if (!selectEl || typeof accessibleAutocomplete === 'undefined') return
        accessibleAutocomplete.enhanceSelectElement({
          autoselect: true,
          showAllValues: false,
          placeholder: 'Type to search',
          defaultValue: (function () {
            var opt = selectEl.options[selectEl.options.selectedIndex]
            if (!opt || !opt.value) return ''
            return opt.text
          })(),
          minLength: 1,
          selectElement: selectEl
        })
      }
      enhance('onward-facility-country')
    })()
  </script>
{% endblock %}
