{% extends "layouts/_base.html" %}

{% block content %}
<div class="govuk-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <p class="chedd-ref">DRAFT.GB.2024.7006103 - CHEDD</p>
      <h1 class="govuk-heading-l">Notification Hub</h1>
      <p class="govuk-body">These sections can be completed in any order. You can save your progress and return at any time.</p>

      <h2 class="govuk-heading-m">About the consignment</h2>
      <div class="chedd-row"><a href="/chedd-traces/02-origin-animal-or-product" class="govuk-link">Origin of the import</a><strong class="govuk-tag govuk-tag--blue">Started</strong></div>
      <div class="chedd-row"><a href="/chedd-traces/04-main-reason-importing" class="govuk-link">Main reason for importing the consignment</a><strong class="govuk-tag govuk-tag--blue">Started</strong></div>

      <h2 class="govuk-heading-m govuk-!-margin-top-6">Description of the goods</h2>
      <div class="chedd-row"><a href="/chedd-traces/08-commodity" class="govuk-link">Commodity</a><strong class="govuk-tag govuk-tag--grey">To do</strong></div>
      <div class="chedd-row"><a href="/chedd-traces/09-additional-details" class="govuk-link">Additional details</a><strong class="govuk-tag govuk-tag--grey">To do</strong></div>

      <h2 class="govuk-heading-m govuk-!-margin-top-6">Documents</h2>
      <div class="chedd-row"><a href="/chedd-traces/10-accompanying-documents-upload" class="govuk-link">Accompanying documents</a><strong class="govuk-tag govuk-tag--grey">To do</strong></div>

      <h2 class="govuk-heading-m govuk-!-margin-top-6">Traders</h2>
      <div class="chedd-row"><a href="/chedd-traces/13-addresses" class="govuk-link">Addresses</a><strong class="govuk-tag govuk-tag--grey">To do</strong></div>

      <h2 class="govuk-heading-m govuk-!-margin-top-6">Transport</h2>
      <div class="chedd-row"><a href="/chedd-traces/14-transport-to-port" class="govuk-link">Transport to the port of entry</a><strong class="govuk-tag govuk-tag--grey">To do</strong></div>
      <div class="chedd-row"><a href="/chedd-traces/15-goods-movement-services" class="govuk-link">Goods movement services</a><strong class="govuk-tag govuk-tag--grey">To do</strong></div>

      <h2 class="govuk-heading-m govuk-!-margin-top-6">Contacts</h2>
      <div class="chedd-row"><a href="/chedd-traces/16-contact-details" class="govuk-link">Contact details</a><strong class="govuk-tag govuk-tag--grey">To do</strong></div>
      <div class="chedd-row"><a href="/chedd-traces/17-nominated-contacts" class="govuk-link">Nominated contacts (optional)</a><strong class="govuk-tag govuk-tag--grey">To do</strong></div>
      <div class="chedd-row"><a href="/chedd-traces/18-contact-address-consignment" class="govuk-link">Contact address for consignment</a><strong class="govuk-tag govuk-tag--grey">To do</strong></div>

      <h2 class="govuk-heading-m govuk-!-margin-top-6">Complete notification</h2>
      <div class="chedd-row"><a href="/chedd-traces/20-review-notification-draft" class="govuk-link">Review and submit</a><strong class="govuk-tag govuk-tag--grey">To do</strong></div>

      <div class="govuk-!-margin-top-6">
        <a href="/chedd-traces/08-commodity" class="govuk-button" data-module="govuk-button">Continue journey</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}
