{% extends "layouts/_base.html" %}

{% block content %}
<div class="govuk-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <p class="chedd-ref">DRAFT.GB.2024.7006103 - CHEDD</p>
      <span class="govuk-caption-l">Description of the goods</span>
      <h1 class="govuk-heading-l">Commodity</h1>

      <table class="govuk-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th class="govuk-table__header">Commodity code</th>
            <th class="govuk-table__header">Description</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">090490</td>
            <td class="govuk-table__cell">Peppers of the Capsicum species (sweet or other than sweet)</td>
          </tr>
        </tbody>
      </table>

      <h2 class="govuk-heading-m">Bison bison, Domestic</h2>
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-third">{{ govukInput({ label: { text: "Net weight (kg/units)", classes: "govuk-label--s" }, id: "net-weight", name: "net-weight" }) }}</div>
        <div class="govuk-grid-column-one-third">{{ govukInput({ label: { text: "Number of packages", classes: "govuk-label--s" }, id: "packages", name: "packages" }) }}</div>
        <div class="govuk-grid-column-one-third">{{ govukSelect({ id: "type-package", name: "type-package", label: { text: "Type of package", classes: "govuk-label--s" }, items: [{ value: "", text: "Select type of package" }, { value: "bag", text: "Bag" }, { value: "block", text: "Block" }] }) }}</div>
      </div>

      <h3 class="govuk-heading-s">Total for this consignment</h3>
      <div class="chedd-row"><span>Net weight (kg)</span><span>2</span></div>
      <div class="chedd-row"><span>Number of packages</span><span>2</span></div>

      {{ govukInput({ label: { text: "Total gross weight (KG/units)", classes: "govuk-label--m" }, id: "gross-weight", name: "gross-weight" }) }}

      <div class="chedd-actions">
        <a href="/chedd-traces/05-notification-hub" class="govuk-button govuk-button--secondary" data-module="govuk-button">Save and return to hub</a>
        <a href="/chedd-traces/09-additional-details" class="govuk-button" data-module="govuk-button">Save and continue</a>
      </div>
      <p class="govuk-body"><a href="/chedd-traces/05-notification-hub" class="govuk-link">Cancel and return to hub</a></p>
    </div>
  </div>
</div>
{% endblock %}
