{% extends "layouts/_base.html" %}

{% block content %}
<div class="govuk-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <p class="chedd-ref">DRAFT.GB.2024.7006103 - CHEDD</p>
      <span class="govuk-caption-l">Description of the goods</span>
      <h1 class="govuk-heading-l">Additional details</h1>

      {{ govukRadios({
        name: "commodity-intended",
        fieldset: { legend: { text: "Commodity intended for", classes: "govuk-fieldset__legend--m" } },
        hint: { text: "You will find this on the health or phytosanitary certificate (also known as the 'official certificate') if you have one." },
        items: [{ text: "Feedstuff" }, { text: "Further process" }, { text: "Human consumption" },  { text: "Human consumption after further treatment" }, { text: "Other" }, { text: "Sample" }, { text: "Trade Sample" }]
      }) }}

      <div class="chedd-actions">
        <a href="/chedd-traces/07-notification-hub" class="govuk-button govuk-button--secondary" data-module="govuk-button">Save and return to hub</a>
        <a href="/chedd-traces/10-accompanying-documents" class="govuk-button" data-module="govuk-button">Save and continue</a>
      </div>
      <p class="govuk-body"><a href="/chedd-traces/05-notification-hub" class="govuk-link">Cancel and return to hub</a></p>
    </div>
  </div>
</div>
{% endblock %}
