{% extends "layouts/_base.html" %}

{% block content %}
<div class="govuk-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <p class="chedd-ref">DRAFT.GB.2024.7006103 - CHEDD</p>
      <span class="govuk-caption-l">Traders</span>
      <h1 class="govuk-heading-l">Addresses</h1>

      <h2 class="govuk-heading-m">Consignor or exporter</h2>
      <p class="govuk-body">This is the sender of the consignment.</p>
      <p class="govuk-body"><a href="#" class="govuk-link">Add a consignor or exporter</a></p>

      <h2 class="govuk-heading-m">Consignee</h2>
      <p class="govuk-body">This is the receiver or buyer of the consignment being shipped or transported.</p>
      <p class="govuk-body"><a href="#" class="govuk-link">Add a consignee</a></p>

      <h2 class="govuk-heading-m">Importer</h2>
      <p class="govuk-body">This is usually the same as the consignee. You can select a different person if needed.</p>
      <p class="govuk-body"><a href="#" class="govuk-link">Add an importer</a></p>

      <h2 class="govuk-heading-m">Place of destination</h2>
      <p class="govuk-body"><strong>Providing a false address is an act of fraud.</strong></p>
      <p class="govuk-body">This is where the consignment will be sent for final unloading, and must be in Great Britain.</p>
      <p class="govuk-body"><a href="#" class="govuk-link">Add a place of destination</a></p>

      <div class="chedd-actions">
        <a href="/chedd-traces/05-notification-hub" class="govuk-button govuk-button--secondary" data-module="govuk-button">Save and return to hub</a>
        <a href="/chedd-traces/14-transport-to-port" class="govuk-button" data-module="govuk-button">Save and continue</a>
      </div>
      <p class="govuk-body"><a href="/chedd-traces/05-notification-hub" class="govuk-link">Cancel and return to hub</a></p>
    </div>
  </div>
</div>
{% endblock %}
