{% extends "layouts/_base.html" %}

{% block content %}
<div class="govuk-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <p class="chedd-ref">DRAFT.GB.2026.0900608 - CHED-D</p>
      <span class="govuk-caption-l">Consignment addresses</span>
      <h1 class="govuk-heading-l">Consignor or exporter</h1>
      <p class="govuk-body">This is the sender of the consignment.</p>

      {% set addressFieldName = "consignor-or-exporter" %}
      {% include "includes/consignment-address-search.njk" %}
    </div>
  </div>
</div>
{% endblock %}
