{% extends "layouts/_base.html" %}

{% block content %}
<div class="govuk-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <p class="chedd-ref">DRAFT.GB.2024.7006103 - CHEDD</p>
      <span class="govuk-caption-l">Contacts</span>
      <h1 class="govuk-heading-l">Contact address for consignment</h1>
      <p class="govuk-body">This is the contact address of the person responsible for the consignment from when it enters Great Britain until authorities complete their checks.</p>

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" aria-describedby="contact-address-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">Select an address</legend>
          <div id="contact-address-hint" class="govuk-hint">
            If the correct address is not shown, <a href="#" class="govuk-link">add a new branch address</a>, then return to this page.
          </div>

          <div class="govuk-radios" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="contact-address" name="contact-address" type="radio" value="address-1" checked>
              <label class="govuk-label govuk-radios__label" for="contact-address">
                Animal and Plant Health Agency<br>
                Woodham Lane<br>
                New Haw<br>
                Surrey<br>
                Addlestone<br>
                KT15 3NB<br>
                United Kingdom of Great Britain and Northern Ireland
              </label>
            </div>

            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="contact-address-2" name="contact-address" type="radio" value="address-2">
              <label class="govuk-label govuk-radios__label" for="contact-address-2">
                100<br>
                Cathcart<br>
                New Address Line 2<br>
                Glasgow<br>
                GS09 3WQ<br>
                United Kingdom of Great Britain and Northern Ireland
              </label>
            </div>

            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="contact-address-3" name="contact-address" type="radio" value="address-3">
              <label class="govuk-label govuk-radios__label" for="contact-address-3">
                88 First Road<br>
                Inventure reiciendis<br>
                A ipsa neque nobis<br>
                Spain
              </label>
            </div>
          </div>
        </fieldset>
      </div>

      <div class="chedd-actions">
        <a href="/chedd-traces/05-notification-hub" class="govuk-button govuk-button--secondary" data-module="govuk-button">Save and return to hub</a>
        <a href="/chedd-traces/19-confirm-billing-details" class="govuk-button" data-module="govuk-button">Save and continue</a>
      </div>
      <p class="govuk-body"><a href="/chedd-traces/05-notification-hub" class="govuk-link">Cancel and return to hub</a></p>
    </div>
  </div>
</div>
{% endblock %}
