{% extends "layouts/_base.html" %}
{% set showDashboard = false %}

{% block content %}
<div class="govuk-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <p class="chedd-ref">DRAFT.GB.2024.7006103 - CHEDD</p>
      <h1 class="govuk-heading-l">Declaration</h1>

      <p class="govuk-body">I, the undersigned operator responsible for the consignment detailed above, certify that to the best of my knowledge and belief the statements made in Part I of this document are true and complete, and I agree to comply with the requirements of assimilated Regulation 2017/625 on official controls.</p>
      <p class="govuk-body">As my consignment is <a class="govuk-link" href="#">in scope of the common user charge</a>, I confirm I have read and agree to comply with the <a class="govuk-link" href="#">common user charge payment terms and conditions</a>.</p>
      <p class="govuk-body">Date of declaration: 16 October 2024</p>

      <a href="/chedd-traces/23-inspection-not-required" class="govuk-button" data-module="govuk-button">Submit notification</a>
    </div>
  </div>
</div>
{% endblock %}
