{% extends "layouts/_base.html" %}
{% set showDashboard = false %}

{% block content %}
<div class="govuk-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <div class="govuk-notification-banner govuk-notification-banner--success" role="alert" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
            <div class="govuk-notification-banner__header">
                <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
                Initial risk assessment
                </h2>
            </div>
            <div class="govuk-notification-banner__content">
                <h3 class="govuk-notification-banner__heading">
                Inspection status
                </h3>
                <p class="govuk-body">Not required</p>
            </div>
        </div>

      <dl class="govuk-summary-list govuk-!-margin-bottom-6">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">CHED reference</dt>
          <dd class="govuk-summary-list__value">DRAFT.GB.2024.7016439</dd>
          <dd class="govuk-summary-list__actions"><a class="govuk-link" href="#">Copy<span class="govuk-visually-hidden"> CHED reference</span></a></dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Customs declaration reference</dt>
          <dd class="govuk-summary-list__value">GBCHD2024.7016439</dd>
          <dd class="govuk-summary-list__actions"><a class="govuk-link" href="#">Copy<span class="govuk-visually-hidden"> customs declaration reference</span></a></dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Customs document code</dt>
          <dd class="govuk-summary-list__value">N851</dd>
          <dd class="govuk-summary-list__actions"><a class="govuk-link" href="#">Copy<span class="govuk-visually-hidden"> customs document code</span></a></dd>
        </div>
      </dl>

      {{ govukWarningText({
        text: "You must use the correct reference and code on the customs declaration or your consignment will be delayed.",
        iconFallbackText: "Warning"
      }) }}

      <h2 class="govuk-heading-m chedd-summary">What you need to do</h2>
      <p class="govuk-body">Tell the haulier that this consignment does not require an inspection.</p>
      <p class="govuk-inset-text">Initial risk assessments can change.</p>

      <h2 class="govuk-heading-m">What happens next</h2>
      <p class="govuk-body">An inspector may update the risk assessment.</p>
      <p class="govuk-body">If the risk assessment changes, IPAFFS will notify you and any nominated contacts by text message or email.</p>

      <dl class="govuk-summary-list govuk-!-margin-bottom-6">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Email address for your receipt</dt>
          <dd class="govuk-summary-list__value">{{ data.email or 'Not provided' }}</dd>
          <dd class="govuk-summary-list__actions"><a class="govuk-link" href="/chedd-traces/21-declaration">Change<span class="govuk-visually-hidden"> email address</span></a></dd>
        </div>
      </dl>

      <h2 class="govuk-heading-m">How to view or amend this notification</h2>
      <p class="govuk-body">You can view or amend this notification from your dashboard.</p>
      <p class="govuk-body"><a class="govuk-link" href="#">Return to your dashboard</a><br><a class="govuk-link" href="#">Create a new notification</a></p>

      <hr>
      <h3 class="govuk-heading-s govuk-!-margin-top-6">Tell us how we can improve</h3>
      <p class="govuk-body"><a class="govuk-link" href="#">What do you think of this service (opens in a new tab)</a></p>
      <br>
      <a href="/chedd-traces/24-inspection-required" class="govuk-button" data-module="govuk-button">Continue</a>
    </div>
  </div>
</div>
{% endblock %}
