{% extends "layouts/_base.html" %}

{% set showDashboard = false %}

{% block content %}
<div class="govuk-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">CHED-D - 'TRACES-first' end to end journey</h1>
      <p class="govuk-body">This will enable journey alignment and Interaction Design improvements <a href="https://app.mural.co/t/coredefra2548/m/coredefra2548/1782373113881/f4ce3a07ed4d669577863ecebb8fa5646366bb77?wid=0-1782373485463" target="_blank">from this Mural analysis board</a> based on a 'TRACES-first' approach to CHED D.</p>
      <p>A CHED-D (Common Health Entry Document for Food/Feed) is a mandatory import document required by UK border authorities to pre-notify them that a consignment of High-Risk Food or Feed Not of Animal Origin (HRFNAO) is arriving.</p>
      <a href="/chedd-traces/01-what-are-you-importing" class="govuk-button" data-module="govuk-button">Start journey</a>
    </div>
  </div>
</div>
{% endblock %}
