
{% extends "layouts/main.html" %}
{% set title = "Manage your notifications" %}

{% block content %}

{% from "includes/page-header.njk" import pageHeader %}
{% call pageHeader(title, null, "two-thirds") %}
    <p class="govuk-body">
      This prototype lets you manage your notification preferences for the service.
    </p>

    <p class="govuk-body">
      Choose how and when you want to receive notifications.
    </p>

    <a href="/" role="button" draggable="false" class="govuk-button govuk-button--secondary" data-module="govuk-button">
      Back to index
    </a>

{% endcall %}

{% endblock %}
