{% extends "layouts/ched-a.html" %}

{% block content %}
<div class="govuk-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <p class="chedd-ref">DRAFT.GB.2026.0900608 - CHED-A</p>
      <span class="govuk-caption-l">About the consignment</span>
      <h1 class="govuk-heading-l">Origin of the import</h1>

      <div class="govuk-form-group">
        <label class="govuk-label govuk-label--m" for="origin-country">Country of origin</label>
        <div class="autocomplete-wrapper autocomplete-wrapper--20em">
          <select class="govuk-select" id="origin-country" name="origin-country">
            <option value="" disabled selected></option>
            {% for country in tracesCountries() %}
            <option value="{{ country.value }}">{{ country.text }}</option>
            {% endfor %}
          </select>
        </div>
      </div>

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
            Does the consignment have a region of origin code?
          </legend>
          <div class="govuk-hint">
            If a region of origin code is required it will be shown on your health certificate.
          </div>
          <div class="govuk-radios" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="region-of-origin-required" name="region-of-origin-required" type="radio" value="yes">
              <label class="govuk-label govuk-radios__label" for="region-of-origin-required">Yes</label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="region-of-origin-required-2" name="region-of-origin-required" type="radio" value="no">
              <label class="govuk-label govuk-radios__label" for="region-of-origin-required-2">No</label>
            </div>
          </div>
        </fieldset>
      </div>

      {{ govukInput({
        label: { text: "Your internal reference for this consignment (optional)", classes: "govuk-label--m" },
        hint: { text: "Enter any internal reference you want to use to identify this consignment, or leave blank." },
        id: "consignment-ref",
        name: "consignment-ref",
        classes: "govuk-input--width-20"
      }) }}

      <div class="chedd-actions">
        <a href="/ched-a/03-main-reason-for-import" class="govuk-button" data-module="govuk-button">Save and continue</a>
        <a href="/ched-a/08-notification-hub" class="govuk-button govuk-button--secondary" data-module="govuk-button">Save and return to hub</a>
      </div>

      <p class="govuk-body"><a href="/ched-a/08-notification-hub" class="govuk-link">Cancel and return to hub</a></p>
    </div>
  </div>
</div>
{% endblock %}

{% block pageScripts %}
  {{ super() }}
  <script src="https://cdn.jsdelivr.net/npm/accessible-autocomplete@2.0.4/dist/accessible-autocomplete.min.js"></script>
  <script>
    (function () {
      var selectEl = document.querySelector('#origin-country')
      if (selectEl && typeof accessibleAutocomplete !== 'undefined') {
        accessibleAutocomplete.enhanceSelectElement({
          autoselect: true,
          showAllValues: false,
          placeholder: 'Type to search',
          minLength: 1,
          selectElement: selectEl
        })
      }
    })()
  </script>
{% endblock %}
