{% extends "layouts/ched-a.html" %}
{% from "govuk/components/panel/macro.njk" import govukPanel %}

{% set showBack = false %}

{% block content %}
<div class="govuk-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {{ govukPanel({
        titleText: "Import notification submitted",
        html: "Your reference number<br><strong>GBN.AG.2026.0900608</strong>"
      }) }}

      <h2 class="govuk-heading-m">Before the consignment is imported</h2>
      <p class="govuk-body">You still need to:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>upload the ITAHC and any other required documents</li>
        <li>complete the animal identifier information in the notification</li>
      </ul>

      <h2 class="govuk-heading-m">Transporting the consignment</h2>
      <p class="govuk-body">Tell the transporter that this consignment must go directly to the place of destination on entry to Great Britain.</p>
      <p class="govuk-body">The animals or consignment may need to be inspected.</p>
      <p class="govuk-body">If so, the animals must stay at the place of destination for either:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>the time stated on the health certificate</li>
        <li>48 hours if no time is specified</li>
      </ul>

      <h2 class="govuk-heading-m">How to view or amend this notification</h2>
      <p class="govuk-body">You can view or change this notification from your dashboard.</p>
      <p class="govuk-body"><a href="/ched-a/index" class="govuk-link">Return to your dashboard</a></p>
      <p class="govuk-body"><a href="/ched-a/01-what-are-you-importing" class="govuk-link">Create a new notification</a></p>

      <h2 class="govuk-heading-m">Getting help</h2>
      <p class="govuk-body">To get help with import notifications for live animals or germinal products, email <a href="mailto:importsriskmanagement@apha.gov.uk" class="govuk-link">importsriskmanagement@apha.gov.uk</a>.</p>
      <p class="govuk-body">Contact the Animal and Plant Health Agency (APHA) if you need technical help with this service:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>Telephone: 0330 041 6999</li>
        <li>Email: <a href="mailto:APHAServiceDesk@apha.gov.uk" class="govuk-link">APHAServiceDesk@apha.gov.uk</a></li>
      </ul>
      <p class="govuk-body">Monday to Friday, 8:30am to 5pm, except bank holidays</p>
      <p class="govuk-body">If you need help with your customs declaration, <a href="#" class="govuk-link">contact HMRC</a>.</p>
      <p class="govuk-body"><a href="#" class="govuk-link">Find out about call charges</a></p>
    </div>
  </div>
</div>
{% endblock %}
