{% extends "govuk-prototype-kit/layouts/govuk-branded.njk" %}

{% set cheddTitle = cheddTitle or "Import of products, animals, food and feed service" %}
{% set showDashboard = true if showDashboard is not defined else showDashboard %}
{% set showBack = true if showBack is not defined else showBack %}


{% block head %}
  {{ super() }}
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/accessible-autocomplete@2.0.4/dist/accessible-autocomplete.min.css">
{% endblock %}

{% block header %}
  {{ govukHeader({
    homepageUrl: "/CHEDD/index",
    containerClasses: "govuk-width-container"
  }) }}

  {{ govukServiceNavigation({
    rebrand: true,
    serviceName: cheddTitle,
    serviceUrl: "/CHEDD/index",
    navigation: [
      {
        href: "/CHEDD/01-what-are-you-importing",
        text: "Create notification",
        active: true
      },
      {
        href: "#",
        text: "Record Decision"
      },
      {
        href: "#",
        text: "Record control"
      }
    ]
  }) }}
{% endblock %}

{% block beforeContent %}
  <div class="govuk-width-container">
    {{ govukPhaseBanner({
      tag: {
        text: "Beta"
      },
      html: "This is a new service - your <a class=\"govuk-link\" href=\"#\">feedback</a> will help us to improve it."
    }) }}

    <div class="chedd-account">
      <p>John Smith | <a href="#" class="govuk-link">Address book</a> | <a href="#" class="govuk-link">Sign out</a></p>
    </div>

    <div class="chedd-back-row">
      {% if showBack %}<a href="javascript:history.back()" class="govuk-back-link">Back</a>{% endif %}
      {# {% if showDashboard %} &nbsp; <a href="#" class="govuk-link">Dashboard</a>{% endif %} #}
    </div>
  </div>
{% endblock %}
